@charset "utf-8";

// common
@import "../parts/variables"; 
@import "../parts/mixins";

/* 서브 - 공통 */
.wpop-contents {
	$btn-lh: 1.5;
	.btn-gray {
		@include btn-gray(null, null, 12px, 3px 8px 2px);
		line-height: $btn-lh;
	}
	.btn-green {
		@include btn-green(null, null, 12px, 3px 8px 2px);
		line-height: $btn-lh;
	}
	.btn-red {
		@include btn-red(null, null, 12px, 3px 8px 2px);
		line-height: $btn-lh;
	}
	.btn-blue {
		@include btn-blue(null, null, 12px, 3px 8px 2px);
		line-height: $btn-lh;
	}
	.btn-brown {
		@include btn-brown(null, null, 12px, 3px 8px 2px);
		line-height: $btn-lh;
	}
	.btn-orange {
		@include btn-orange(null, null, 12px, 3px 8px 2px);
		line-height: $btn-lh;
	}
	
	.form-input {
		@include form-base(100%);
	}
	.form-select {
		@include slt-base(100%);
	}
	
	.hSpace-5 {
		font-size: 1px;
		line-height: 1px;
		height: 5px;
	}
	.cal-box {
		@include va;
		min-width: 105px;
		height: 25px;
		box-sizing: border-box;
		background: #fff;
		border: 1px solid $bor-gray-table;
		border-radius: 4px;
		> * {
			outline: none;
		}
		.inp-cal {
			@include form-base(100%, null, 4px);
			box-shadow: none;
			border: none;
			background: none;
			text-align: left;
			position: relative;
			line-height: 1;
			top: 1px;
			z-index: 1;
		}
		.i-cal {
			@include dp;
			position: absolute;
			top: 0;
			right: 0;
			width: 24px;
			height: 100%;
			border-radius: 4px;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			text-align: center;
			cursor: pointer;
			border-left: 1px solid $bor-gray-table;
			background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.6)),to(rgba(255,255,255,0)));
			background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.6) 0,rgba(255,255,255,0) 100%);
			background-image: none,linear-gradient(to bottom,rgba(255,255,255,.6) 0,rgba(255,255,255,0) 100%);
			background-position: 50% 50%;
			background-color: #eae8e8;
			img {
				position: relative;
				top: 1px;
			}
		}
	}
	.textarea-etc {
		@include texta-base(150px, 80px, vertical);
		border: 1px solid #ccc;
		text-align: left;
	}
}

.wrapper.wpop {
	min-width: auto;
}

.wpop-contents {
	@include bx;
	min-width: 1800px;
//	width: 1800px;
//	height: 900px;
}
/* 윈도우 팝업 - 객실 목록 */
@mixin wpop-hd{
	background: $bg-brown-1;
	padding: 15px;
	color: $fg-brown-popHd;
	h2 {
		font-weight: 700;
		letter-spacing: 0;
	}
}
/* 윈도우 팝업 해더 */
.wpop-header {
	@include wpop-hd;
}
/* 윈도우 팝업 콘텐츠 영역 */
/* 공통 스타일 */
.wpop-contents .cont-common-1 {
	@include float;
	box-sizing: border-box;
	background: #f0f0f0;
	padding: 20px 15px;
	margin-top: 20px;
	border-radius: 5px;
	.cont-tit {
		@include position(absolute, -20px, 15px);
		@include show-reset;
		color: $fg-legend;
		font-size: 13px;
		padding: 5px 10px;
		background: #f0f0f0;
		border-radius: 5px;
		strong, label {
			font-weight: 700;
		}
		strong {
//			margin-right: 10px;
		}
		.form-input {
			@include form-base(120px);
			&.bookingNum {
				margin-right: 10px;
			}
		}
		.form-select {
			@include slt-base(60px);
			margin-left: 30px;
		}
		.btn-gray, .btn-green, .btn-green, .btn-red, .btn-blue {
			font-size: 11px;
			padding: 2px 4px;
		}
	}
}
/* 객실 목록 */
.wpop-contents.roomInv-contents {
	padding: 20px;
	.cont-property {
		.tbl-property {
			@include tbl-style-1;
			td {
				.cell {
					.rdo-box {
						padding: 0 8px;
						label {
							margin-right: 5px;
						}
					}
					.cal-box {
						.inp-cal {
							width: 150px;
						}
					}
					.btn-gray {
						.prev, .next {
							position: relative;
							top: -1px;
							color: #6E7A86;
							padding: 0 5px;
						}
					}
				}
			}
		}
	}	
	.cont-roomInv {
		.grid-container {
//			@include grid-scr-x2(180px, null, 100%, 4px);
			@include grid-scr-x2(180px, 2000px, 100%, 4px);
			$ie8-wth: 1583px;
			.ie8 .grid-area.grid-locked {
				width: 180px;
			}
			.scr-wrap {
				.ie8 & {
					width: $ie8-wth;
				}
				.grid-tbl {
					.ie8 & {
						width: $ie8-wth;
					}
					th {
						&.sat {
							color: $fg-sat;
						}
						&.sun {
							color: $fg-sun;
						}
					}
				}
			}
		}
	}
}
/* 품목 재고 */
.wpop-contents.itemInv-contents {
	padding: 20px;
	.cont-property {
		.tbl-property {
			@include tbl-style-1;
			td {
				.cell {
					.rdo-box {
						padding: 0 8px;
						label {
							margin-right: 5px;
						}
					}
					.cal-box {
						.inp-cal {
							width: 150px;
						}
					}
					.btn-gray {
						.prev, .next {
							position: relative;
							top: -1px;
							color: #6E7A86;
							padding: 0 5px;
						}
					}
				}
			}
		}
	}	
	.cont-itemInv {
		.grid-container {
//			@include grid-scr-x2(180px, null, 100%, 4px);
			@include grid-scr-x2(180px, 2000px, 100%, 4px);
			$ie8-wth: 1583px;
			.ie8 .grid-area.grid-locked {
				width: 180px;
			}
			.scr-wrap {
				.ie8 & {
					width: $ie8-wth;
				}
				.grid-tbl {
					.ie8 & {
						width: $ie8-wth;
					}
					th {
						&.sat {
							color: $fg-sat;
						}
						&.sun {
							color: $fg-sun;
						}
					}
				}
			}
		}
	}
}
/* 자취 */
.wpop-contents.trace-contents {
	padding: 20px;
	.cont-property {
		.tbl-property {
			@include tbl-style-1;
			td {
				.cell {
					.form-input {
						&.departments {
							width: 300px;
						}
					}
					.rdo-box {
						padding: 0 8px;
						label {
							margin-right: 5px;
						}
					}
					.cal-box {
						.inp-cal {
							width: 110px;
						}
					}
					.btn-gray {
						.prev, .next {
							position: relative;
							top: -1px;
							color: #6E7A86;
							padding: 0 5px;
						}
					}
					.btn-brown {
						&.search {
						}
					}
				}
			}
		}
	}	
	.cont-trace {
		margin-top: 10px;
		.grid-wrap.scr-wrap {
			@include grid-scr-x(null, 100%, 4px);
			.grid-area.grid-contents {
				background: #fff;
				height: 730px;
			}
			.grid-tbl {
				.ie8 & {
					width: 777px;
				}
				th, td {
					.cell {
						text-align: center;
					}
				}
				td:first-child {
					.cell {
						line-height: 1;
					}
				}
			}
		}
	}
}
/* 객실 상태 : 수색, 방 요약, 객실 청소실 상태, 활동, 하루의 끝 예측 */
.wpop-contents.houseSt-contents {
	min-width: 1000px;
	padding: 20px;
	.cont-search {
		.cont-property {
			.tbl-property {
				@include tbl-style-1;
				td {
					background: #fff;
					.cell {
						.form-input {
							&.departments {
								width: 300px;
							}
						}
						.rdo-box {
							padding: 0 8px;
							label {
								margin-right: 5px;
							}
						}
						.cal-box {
							.inp-cal {
								width: 110px;
							}
						}
						.btn-gray {
							.prev, .next {
								position: relative;
								top: -1px;
								color: #6E7A86;
								padding: 0 5px;
							}
						}
						.btn-brown {
							&.search {
							}
						}
					}
				}
			}
		}	
	}
	.contents-container .cont-common-1 {
		margin-top: 35px;
		.grid-tbl {
			@include tbl-base;
			width: 100%;
			table-layout: fixed;
			th, td {

			}
			th {
				&.bg-none {
					background: #fff;
				}
				.cell {
					&.necess {
						background: url("../../img/tick-small-red.png") no-repeat 100% 58%;
					}
				}
				+ td {
					border-left: 1px dashed #c0b5a6;
				}
			}
			td {
				border-left: none;
				.cell {
					padding-left: 7px;
					padding-right: 0px;
					.form-input {
						text-align: right;
					}
					.form-select {
						&.lang {
							width: 65%;
						}
					}
					.cal-box {
						// width: 105px;
						width: 54%;
						+ .rdo-box {
							margin-left: 10px;
						}
					}
					.add-rtxt {
						// margin-left: 2px;
					}
					.mg- {
						margin: 0 5px;
					}
				}
				&.last {
					.cell {
//						padding-left: 0;
					}
				}
			}
		}
	}
	.contents-container .cont-common-1.left {
		width: 44%;
	}
	.contents-container .cont-common-1.right {
		float: right;
		width: 54%;
	}
	.contents-container .cont-roomSummary {
		.grid-tbl {
			td {
				.cell {
					.form-input {
						width: 110px;
					}
				}
			}
		}
	}
	.contents-container .cont-housekeeping {
		.grid-tbl {
			td {
				.cell {
					.form-input {
						text-shadow: 0px 1px #fff;
						&.inspected {
							background: #00E676;
						}
						&.clean {
							background: #84FFFF;
						}
						&.dirty {
							background: #EF5350;	
						}
						&.working {
							background: #FFF59D;
						}
					}
				}
			}
		}
	}
	.contents-container .cont-activity {
		.grid-tbl {
			td {
				
			}
		}
	}
	.contents-container .cont-projection {
		
	}
}