@@include('../include/_head.html', {
	"page": "inhouse"
})

<body class="page-inhouse">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="cf contents lf-contents">
		@@include('../include/_row_h2.html', {
			"page-title": "분실물"
		})
		<div class="cf cont-container-f">
			<div class="cont-property">
				<div class="grid-wrap">
					<div class="grid-contents">
						<table class="grid-tbl tbl-property">
							<colgroup>
								<col style="width: 120px">
								<col style="width: 250px">
								<col style="width: 120px">
								<col style="width: 250px">
								<col style="width: 120px">
								<col style="width: *">
							</colgroup>
							<tbody>
								<tr>
									<th><div class="cell">요청 유형</div></th>
									<td>
										<div class="cell">
											<select name="" id="" class="form-select req" disabled>
												<option value="">1. Lost&Found</option>
											</select>
											<button type="button" class="btn-green">ADD</button>
										</div>
									</td>
									<th><div class="cell">상태</div></th>
									<td>
										<div class="cell">
											<select name="" id="" class="form-select status">
												<option value=""></option>
												<option value="">접수</option>
												<option value="">처리</option>
											</select>
										</div>
									</td>
									<th><div class="cell">도착 날짜</div></th>
									<td>
										<div class="cell">
											<span class="cal-box">
												<input type="text" class="appe-reset inp-cal date-ui" value="2019-03-20">
												<span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
											</span>
											<span class="mg-">~</span>
											<span class="cal-box">
												<input type="text" class="appe-reset inp-cal date-ui" value="2019-03-20">
												<span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
											</span>
											<button type="button" class="btn-brown">SEARCH</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="cont-list">
				<div class="grid-toolbar">
					<button type="button" class="btn-gray"><span class="icon ic-plus"></span> 새 레코드 추가</button>
				</div>
				<!-- //.grid-toolbar -->
				<div class="grid-wrap scr-wrap">
					<div class="grid-scrollable-x">
						<div class="grid-area grid-head">
							<div class="grid-scrollable">
								<table class="grid-tbl">
									<colgroup>
										<col style="width:55px">
										<col style="width:130px">
										<col style="width:200px">
										<col style="width:200px">
										<col style="width:330px">
										<col style="width:80px">
										<col style="width:130px">
										<col style="width:105px">
										<col style="width:105px">
										<col style="width:105px">
										<col style="width:*">
									</colgroup>
									<thead class="rowgroup">
										<tr>
											<th><div class="cell">번호</div></th>
											<th><div class="cell">유형</div></th>
											<th><div class="cell">객실# / 장소</div></th>
											<th><div class="cell">항목</div></th>
											<th><div class="cell">내용</div></th>
											<th><div class="cell">상태</div></th>
											<th><div class="cell">수용 날짜</div></th>
											<th><div class="cell">수용자</div></th>
											<th><div class="cell">Processed Date</div></th>
											<th><div class="cell">Processed By</div></th>
											<th><div class="cell">결과</div></th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
						<div class="grid-area grid-contents">
							<table class="grid-tbl">
								<colgroup>
									<col style="width:55px">
									<col style="width:130px">
									<col style="width:200px">
									<col style="width:200px">
									<col style="width:330px">
									<col style="width:80px">
									<col style="width:130px">
									<col style="width:105px">
									<col style="width:105px">
									<col style="width:105px">
									<col style="width:*">
								</colgroup>
								<tbody class="rowgroup">
									<tr>
										<td><div class="cell">30</div></td>
										<td><div class="cell">Lost&Found</div></td>
										<td><div class="cell">707</div></td>
										<td><div class="cell">충전기</div></td>
										<td><div class="cell">2층 사무실</div></td>
										<td><div class="cell">접수</div></td>
										<td><div class="cell">2019-03-18</div></td>
										<td><div class="cell">한애순</div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- //.grid-wrap -->
				<div class="cf grid-bottom">
					<a href="#" class="prev st">&lt;&lt;</a>
					<a href="#" class="prev">&lt;</a>
					<span class="num">0</span>
					<a href="#" class="next">&gt;</a>
  					<a href="#" class="next st">&gt;&gt;</a>
					<span class="count">1 - 100 of 158 items</span>
				</div>
				<!-- //.grid-bottom-->
			</div>
			<!-- //.cont-list -->
		</div>
	</div>
	<!-- //.contents -->


</div>
</body>
</html>
