@@include('../include/_head.html', {
	"page": "inhouse"
})

<body class="page-inhouse">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="cf contents maidAss-contents">
		@@include('../include/_row_h2.html', {
			"page-title": "청소 배정"
		})
		<div class="cf cont-container-f">
			<div class="cont-property">
				<div class="grid-wrap">
					<div class="grid-contents">
						<table class="grid-tbl tbl-property">
							<colgroup>
								<col style="width: 120px">
								<col style="width: *">
							</colgroup>
							<tbody>
								<tr>
									<th><div class="cell">날짜</div></th>
									<td>
										<div class="cell">
											<span class="cal-box">
												<input type="text" class="appe-reset inp-cal date-ui">
												<span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
											</span>
											<span class="chk-box"><label><input type="checkbox"> Assign Available</label></span>

											<div class="btn-brown"><span class="prev">◀</span></div>
											<div class="btn-brown"><span class="next">▶</span></div>
										    <button type="button" class="btn-brown">SEARCH</button>
										    <button type="button" class="btn-brown">Assign Status</button>
										    <button type="button" class="btn-green">Floor Setting</button>
										    <button type="button" class="btn-blue">PRINT</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!--//.cont-name-->
			<div class="cont-roomStatus">
				<div class="area room-area">
					<ul class="cf list-room">
						<!--스타일 off, on 클릭 스타일 .clk 추가-->
						<li class="item-room off">
							<div class="cf roomNo">
								<span class="left num">1701</span>
								<span class="center name">RST</span>
								<span class="right status">
									<img src="../../public/img/icon/ebOut.png" alt="아웃">
								</span>
							</div>
							<div class="row">
								<select name="" id="" class="form-select">
									<option value=""></option>
								</select>
							</div>
						</li>

						<li class="item-room on">
							<div class="cf roomNo">
								<span class="left num">1601</span>
								<span class="center name">RST</span>
								<span class="right status">
									<img src="../../public/img/icon/ebOut.png" alt="아웃">
								</span>
							</div>
							<div class="row">
								<select name="" id="" class="form-select">
									<option value=""></option>
								</select>
							</div>
						</li>
						<li class="item-room on red">
							<div class="cf roomNo">
								<span class="left num">1601</span>
								<span class="center name">RST</span>
								<span class="right status">
									<img src="../../public/img/icon/ebOut.png" alt="아웃">
								</span>
							</div>
							<div class="row">
								<select name="" id="" class="form-select">
									<option value=""></option>
								</select>
							</div>
						</li>
					</ul>
					<!--//.list-room-->
					<script>
						$(function() {
							$(".room-area .list-room > li").on("click", function() {
								$(this).toggleClass("clk");
							});
						});
					</script>
					<ul class="list-floor">
						<li class="item-floor">
							<div class="tit">Floor</div>
						</li>

						<!-- 클래스 - 판매가능 y , 판매 불가 n -->

						<li class="item-floor">
							<div class="floor total">Total</div>
						</li>

						<li class="item-floor">
							<div class="floor">17</div>
						</li>

						<li class="item-floor">
							<div class="floor">16</div>
						</li>

						<li class="item-floor">
							<div class="floor">15</div>
						</li>

						<li class="item-floor">
							<div class="floor">14</div>
						</li>

						<li class="item-floor">
							<div class="floor">13</div>
						</li>

						<li class="item-floor">
							<div class="floor">12</div>
						</li>

						<li class="item-floor">
							<div class="floor">11</div>
						</li>

						<li class="item-floor">
							<div class="floor">10</div>
						</li>

						<li class="item-floor">
							<div class="floor">9</div>
						</li>

						<li class="item-floor">
							<div class="floor">8</div>
						</li>

						<li class="item-floor">
							<div class="floor">7</div>
						</li>

						<li class="item-floor">
							<div class="floor">6</div>
						</li>

						<li class="item-floor">
							<div class="floor">5</div>
						</li>

						<li class="item-floor">
							<div class="floor">4</div>
						</li>

						<li class="item-floor">
							<div class="floor">3</div>
						</li>
					</ul>
					<!--//.list-floor-->
				</div>
				<!--//.room-area-->
			</div>
		</div>
	</div>
	<!-- //.contents -->


</div>
</body>
</html>
