@@include('../include/_head.html', {
	"page": "inhouse"
})

<body class="page-inhouse">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="cf contents maidSch-contents">
		@@include('../include/_row_h2.html', {
			"page-title": "청소 일정"
		})
		<div class="cf cont-container-f">
			<div class="cont-property">
				<div class="grid-wrap">
					<div class="grid-contents">
						<table class="grid-tbl tbl-property">
							<colgroup>
								<col style="width: 120px">
								<col style="width: *">
							</colgroup>
							<tbody>
								<tr>
									<th><div class="cell">시작 날짜</div></th>
									<td>
										<div class="cell">
											<span class="cal-box">
												<input type="text" class="appe-reset inp-cal date-ui">
												<span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
											</span>

										    <button type="button" class="btn-brown">SEARCH</button>
											<button type="button" class="btn-gray btn-i"><span class="icon ic-excel"></span>Excel</button>
											<button type="button" class="btn-gray btn-i"><span class="icon ic-pdf"></span>PDF</button>
											<button type="button" class="btn-gray pull-right">일괄저장</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="cont-list">
				<div class="grid-container">
					<div class="grid-area grid-locked">
						<table class="grid-tbl">
							<colgroup>
								<col style="width: 245px">
							</colgroup>
							<thead class="rowgroup">
								<tr>
									<th class="locked"></th>
								</tr>
							</thead>
							<tbody class="rowgroup">
								<tr><td><div class="cell">text</div></td></tr>
							</tbody>
						</table>
					</div>
					<div class="grid-wrap scr-wrap">
						<div class="grid-scrollable-x">
							<div class="grid-area grid-head">
								<div class="grid-scrollable">
									<table class="grid-tbl">
                                        <colgroup>
            								<col style="width: 110px">
            							</colgroup>
										<thead class="rowgroup">
											<tr>
												<th><div class="cell"></div></th>
												<th><div class="cell">02/01</div></th>
												<th><div class="cell">02/02</div></th>
												<th><div class="cell">02/03</div></th>
												<th><div class="cell">02/04</div></th>
												<th><div class="cell">02/05</div></th>
												<th class="sat"><div class="cell">02/06</div></th>
												<th class="sun"><div class="cell">02/07</div></th>
												<th><div class="cell">02/08</div></th>
												<th><div class="cell">02/09</div></th>
												<th><div class="cell">02/10</div></th>
												<th><div class="cell">02/11</div></th>
												<th><div class="cell">02/12</div></th>
												<th class="sat"><div class="cell">02/13</div></th>
												<th class="sun"><div class="cell">02/14</div></th>
												<th><div class="cell">02/15</div></th>
											</tr>
											<tr>
                                                <th><div class="cell">근무일수</div></th>
												<th><div class="cell">Mon</div></th>
												<th><div class="cell">Tue</div></th>
												<th><div class="cell">Wed</div></th>
												<th><div class="cell">Thu</div></th>
												<th><div class="cell">Fri</div></th>
												<th class="sat"><div class="cell">Sat</div></th>
												<th class="sun"><div class="cell">Sun</div></th>
												<th><div class="cell">Mon</div></th>
												<th><div class="cell">Tue</div></th>
												<th><div class="cell">Wed</div></th>
												<th><div class="cell">Thu</div></th>
												<th><div class="cell">Fri</div></th>
												<th class="sat"><div class="cell">Sat</div></th>
												<th class="sun"><div class="cell">Sun</div></th>
												<th><div class="cell">Mon</div></th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
							<div class="grid-area grid-contents">
								<table class="grid-tbl">
                                    <colgroup>
                                        <col style="width: 110px">
                                    </colgroup>
									<tbody class="rowgroup">
										<tr>
											<td><div class="cell">138</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">11004</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--//.cont-name-->
		</div>
	</div>
	<!-- //.contents -->


</div>
</body>
</html>
