@@include('../include/_head.html', {
	"page": "inhouse"
})

<body class="page-inhouse">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="cf contents rmClean-contents">
		@@include('../include/_row_h2.html', {
			"page-title": "객실 청소"
		})
		<div class="cf cont-container-f">
			<div class="cont-property">
				<div class="cont-tit">
					<strong>속성</strong>
					<select name="" id="" class="form-select property">
						<option value="">Ramada pt</option>
					</select>
				</div>
				<div class="grid-wrap">
					<div class="grid-contents">
						<table class="grid-tbl tbl-property">
							<colgroup>
								<col style="width: 120px">
								<col style="width: 180px">
								<col style="width: 120px">
								<col style="width: 400px">
								<col style="width: *">
							</colgroup>
							<tbody>
								<tr>
									<th><div class="cell">날짜</div></th>
									<td>
										<div class="cell">
											<span class="cal-box">
												<input type="text" class="appe-reset inp-cal date-ui" value="2019-03-20" disabled>
												<span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
											</span>
										</div>
									</td>
									<th><div class="cell">층</div></th>
									<td>
										<div class="cell">
										    <select name="" id="" class="form-select gray floor">
										    	<option value="">All</option>
										    	<option value="">17</option>
										    	<option value="">16</option>
										    	<option value="">15</option>
										    	<option value="">14</option>
										    	<option value="">13</option>
										    	<option value="">12</option>
										    	<option value="">11</option>
										    	<option value="">10</option>
										    	<option value="">9</option>
										    	<option value="">8</option>
										    	<option value="">7</option>
										    	<option value="">6</option>
										    	<option value="">5</option>
										    	<option value="">4</option>
										    	<option value="">3</option>
										    	<option value="">2</option>
										    	<option value="">1</option>
										    </select>
										</div>
									</td>
									<td>
										<div class="cell">
											<span class="pull-right">
												<button type="button" class="btn-gray btn-i"><span class="icon ic-excel"></span>Excel</button>
												<button type="button" class="btn-gray btn-i"><span class="icon ic-pdf"></span>PDF</button>
											</span>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!--//.cont-name-->
		</div>
	</div>
	<!-- //.contents -->


</div>
</body>
</html>
