@@include('../include/_head.html', {
	"page": "reservation"
})

<body class="page-reservation">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="cf contents roomInv-contents">
		@@include('../include/_row_h2.html', {
			"page-title": "객실 목록"
		})
		<div class="cf cont-container-f">
			<div class="cont-property">
				<div class="grid-wrap">
					<div class="grid-contents">
						<table class="grid-tbl tbl-property">
							<colgroup>
								<col style="width: 104px">
								<col style="width: 190px">
								<col style="width: 120px">
								<col style="width: 278px">
								<col style="width: *">
							</colgroup>	
							<tbody>
								<tr>
									<th><div class="cell">속성</div></th>
									<td>
										<div class="cell">
											<select name="" id="" class="form-select gray">
												<option value="">Ramada pt</option>
											</select>
										</div>
									</td>
									<th><div class="cell">시작 날짜</div></th>
									<td>
										<div class="cell">
											<span class="cal-box">
												<input type="text" class="appe-reset inp-cal date-ui">
												<span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
											</span>
											<div class="btn-gray"><span class="prev">◀</span></div>
											<div class="btn-gray"><span class="next">▶</span></div>
										</div>
									</td>
									<td>
										<div class="cell">
											<span class="rdo-box"><label><input type="radio" name="optionSc" checked> Stock</label>
												<label><input type="radio" name="optionSc"> Occ</label></span>
											<span class="btn-box"><button type="button" class="btn-brown">SEARCH</button>
												<button type="button" class="btn-gray">CLEAR</button>
												<button type="button" class="btn-gray btn-i"><span class="icon ic-excel"></span>Excel</button>
												<button type="button" class="btn-gray btn-i"><span class="icon ic-pdf"></span>PDF</button></span>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="cont-roomInv">
				<div class="grid-container">
					<div class="grid-area grid-locked">
						<table class="grid-tbl">
							<colgroup>
								<col style="width: 180px">
							</colgroup>
							<thead class="rowgroup">
								<tr>
									<th class="locked"></th>
								</tr>
							</thead>
							<tbody class="rowgroup">
								<tr>
									<td><div class="cell">남은 객실 <span class="num">[302]</span></div></td>
								</tr>
								<tr>
									<td><div class="cell">사용 객실</div></td>
								</tr>
								<tr>
									<td><div class="cell">RST <span class="num">[4]</span></div></td>
								</tr>
								<tr>
									<td><div class="cell">DDB <span class="num">[38]</span></div></td>
								</tr>
								<tr>
									<td><div class="cell">SDT <span class="num">[6]</span></div></td>
								</tr>
								<tr>
									<td><div class="cell">DTW <span class="num">[145]</span></div></td>
								</tr>
								<tr>
									<td><div class="cell">판매 가능</div></td>
								</tr>
								<tr>
									<td><div class="cell">고장난</div></td>
								</tr>
								<tr>
									<td><div class="cell">부재 중</div></td>
								</tr>
								<tr>
									<td><div class="cell">하우스 사용</div></td>
								</tr>
								<tr>
									<td><div class="cell">비교</div></td>
								</tr>
								<tr><td><div class="cell">추가 침대</div></td></tr>
							</tbody>
						</table>
					</div>
					<div class="grid-wrap scr-wrap">
						<div class="grid-scrollable-x">
							<div class="grid-area grid-head">
								<div class="grid-scrollable">
									<table class="grid-tbl">
										<thead class="rowgroup">
											<tr>
												<th><div class="cell">02/01</div></th>
												<th><div class="cell">02/02</div></th>
												<th><div class="cell">02/03</div></th>
												<th><div class="cell">02/04</div></th>
												<th><div class="cell">02/05</div></th>
												<th class="sat"><div class="cell">02/06</div></th>
												<th class="sun"><div class="cell">02/07</div></th>
												<th><div class="cell">02/08</div></th>
												<th><div class="cell">02/09</div></th>
												<th><div class="cell">02/10</div></th>
												<th><div class="cell">02/11</div></th>
												<th><div class="cell">02/12</div></th>
												<th class="sat"><div class="cell">02/13</div></th>
												<th class="sun"><div class="cell">02/14</div></th>
												<th><div class="cell">02/15</div></th>
												<th><div class="cell">02/16</div></th>
												<th><div class="cell">02/17</div></th>
												<th><div class="cell">02/18</div></th>
												<th><div class="cell">02/19</div></th>
												<th class="sat"><div class="cell">02/20</div></th>
												<th class="sun"><div class="cell">02/21</div></th>
												<th><div class="cell">02/22</div></th>
												<th><div class="cell">02/23</div></th>
												<th><div class="cell">02/24</div></th>
												<th><div class="cell">02/25</div></th>
												<th><div class="cell">02/26</div></th>
												<th class="sat"><div class="cell">02/27</div></th>
												<th class="sun"><div class="cell">02/28</div></th>
												<th><div class="cell">02/29</div></th>
												<th><div class="cell">02/30</div></th>
												<th><div class="cell">02/31</div></th>
											</tr>
											<tr>
												<th><div class="cell">Mon</div></th>
												<th><div class="cell">Tue</div></th>
												<th><div class="cell">Wed</div></th>
												<th><div class="cell">Thu</div></th>
												<th><div class="cell">Fri</div></th>
												<th class="sat"><div class="cell">Sat</div></th>
												<th class="sun"><div class="cell">Sun</div></th>
												<th><div class="cell">Mon</div></th>
												<th><div class="cell">Tue</div></th>
												<th><div class="cell">Wed</div></th>
												<th><div class="cell">Thu</div></th>
												<th><div class="cell">Fri</div></th>
												<th class="sat"><div class="cell">Sat</div></th>
												<th class="sun"><div class="cell">Sun</div></th>
												<th><div class="cell">Mon</div></th>
												<th><div class="cell">Tue</div></th>
												<th><div class="cell">Wed</div></th>
												<th><div class="cell">Thu</div></th>
												<th><div class="cell">Fri</div></th>
												<th class="sat"><div class="cell">Sat</div></th>
												<th class="sun"><div class="cell">Sun</div></th>
												<th><div class="cell">Mon</div></th>
												<th><div class="cell">Tue</div></th>
												<th><div class="cell">Wed</div></th>
												<th><div class="cell">Thu</div></th>
												<th><div class="cell">Fri</div></th>
												<th class="sat"><div class="cell">Sat</div></th>
												<th class="sun"><div class="cell">Sun</div></th>
												<th><div class="cell">Mon</div></th>
												<th><div class="cell">Tue</div></th>
												<th><div class="cell">Wed</div></th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
							<div class="grid-area grid-contents">
								<table class="grid-tbl">
									<tbody class="rowgroup">
										<tr>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
										</tr>
										<tr>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
										</tr>
										<tr>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
										</tr>
										<tr>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
										</tr>
										<tr>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
										</tr>
										<tr>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
										</tr>
										<tr>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
										</tr>
										<tr>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
										</tr>
										<tr>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
										</tr>
										<tr>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
										</tr>
										<tr>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
										</tr>
										<tr>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">138</div></td>
											<td><div class="cell">114</div></td>
											<td><div class="cell">220</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">233</div></td>
											<td><div class="cell">224</div></td>
											<td><div class="cell">232</div></td>
										</tr>
										<!--tr>(th+td)-->
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--//.cont-name-->
		</div>
	</div>
	<!-- //.contents -->


</div>
</body>
</html>