@charset "utf-8";

@import "../parts/variables";
@import "../parts/mixins";

/* C/L 캐셔링 */
.cashier-contents {
	.cont-area {
		margin-top: 10px;
		.area-1 {
			margin-top: 0;
		}
	}
	.cont-property {
		.tbl-property {
			@include tbl-style-1;
			td {
				.cell {
					.form-select {
						&.option {
							width: 85px;
						}
					}
					.rdo-box {
						@include va;
						padding: 0 3px;
						label {
							margin-right: 0px;
						}
					}
					.cal-box {
						width: 120px;
					}
					button {
						letter-spacing: 0;
					}
				}
			}
		}
	}
	.cont-list {
		margin-top: 10px;
		.grid-wrap {
			@include grid-scr-x(null, 100%, 4px 4px 0 0);
			.grid-area.grid-head {
				th {
					&.bor {
						border-bottom: 1px solid $bor-gray-table;
					}
				}
			}
			.grid-area.grid-contents {
				background: #fff;
				height: 220px;
				.grid-tbl {
					td {
						text-align: left;
					}
				}
			}
			.grid-area.grid-total {
				.grid-tbl {
					th, td { }
					td { }
				}
			}
		}
		.grid-bottom {
			@include gray-gradient;
			@include bdr-r(0, 0, 4px, 4px);
			padding: 5px;
			border: 1px solid $bor-gray-table;
			border-top: 0;
			> * {
				@include va;
				@include bx;
				text-align: center;
				border-radius: 50%;
				font-weight: 700;
			}
			.prev, .next {
				@include ft(12px, #918884);
				@include sizes(26px);
				line-height: 24px;
				background-color: #fff;
				border: 1px solid #d2d2d2;
				&.st {
					letter-spacing: -3px;
				}
			}
			.prev {
				text-indent: -3px;
				&.st {
					text-indent: -5px;
				}
			}
			.num {
				@include ft(12px, #918884);
				@include sizes(26px);
				line-height: 26px;
				color: #fff;
				background-color: #f35800;
				border-color: #f85a00;
			}
			.next {
				text-indent: 3px;
				&.st {
					text-indent: 0px;
				}
			}
			.count {
				@include float(right);
				@include ft(12px, #313131, 400);
				padding-right: 12px;
				top: 3px;
				.co {
					color: $fg-orange-1;
				}
			}
		}
	}
	.area-2 {
		.grid-wrap {
			.grid-area.grid-contents {
				height: 250px;
			}
		}
	}
	.row-btn {
		margin-top: 10px;
		button {
			@include btn-pd-lr(20px, 20px, 0);
		}
	}
}

/* 교환 */
.exchange-contents {
	.cont-property {
		.tbl-property {
			@include tbl-style-1;
            border-right: 1px solid $bdg-tblBase;
            width: 100%;
			td {
				.cell {
					.form-input {
						&.name {
							width: 135px;
						}
					}
					.cal-box {
						width: 110px;
						.inp-cal {
							// width: 100%;
						}
					}
				}
			}
		}
	}
	.cont-list {
		margin-top: 10px;
		.grid-wrap {
			@include grid-scr-x(null, 100%, 4px);
			.grid-area.grid-contents {
				background: #fff;
				height: 750px;
			}
			.grid-area.grid-total {
				.grid-tbl {
					th, td { }
					td { }
				}
			}
			.grid-tbl {
				th, td {
					.cell {
						text-align: center;
					}
				}
				td {
					.cell {
						button.action {
							@include btn-pd-lr;
						}
					}
				}
				td:first-child {
					.cell {
						line-height: 1;
					}
				}
			}
		}
		.grid-bottom {
			@include gray-gradient;
			@include bdr-r(0, 0, 4px, 4px);
			padding: 5px;
			border: 1px solid $bor-gray-table;
			border-top: 0;
			> * {
				@include va;
				@include bx;
				text-align: center;
				border-radius: 50%;
				font-weight: 700;
			}
			.prev, .next {
				@include ft(12px, #918884);
				@include sizes(26px);
				line-height: 24px;
				background-color: #fff;
				border: 1px solid #d2d2d2;
				&.st {
					letter-spacing: -3px;
				}
			}
			.prev {
				text-indent: -3px;
				&.st {
					text-indent: -5px;
				}
			}
			.num {
				@include ft(12px, #918884);
				@include sizes(26px);
				line-height: 26px;
				color: #fff;
				background-color: #f35800;
				border-color: #f85a00;
			}
			.next {
				text-indent: 3px;
				&.st {
					text-indent: 0px;
				}
			}
			.count {
				@include float(right);
				@include ft(12px, #313131, 400);
				padding-right: 12px;
				top: 3px;
				.co {
					color: $fg-orange-1;
				}
			}
		}
	}
}

/* 현금 서랍 */
.cshDraw-contents {
	.cont-property {
		.tbl-property {
			@include tbl-style-1;
            border-right: 1px solid $bdg-tblBase;
            width: 100%;
			td {
				.cell {
					.form-input {
						&.name {
							width: 135px;
						}
					}
					.cal-box {
						width: 110px;
						.inp-cal {
							// width: 100%;
						}
					}
				}
			}
		}
	}
	.cont-area {
		@include float;
		margin-top: 10px;
	}
	.cont-area.area-1 {width: 1450px;}
	.cont-area.area-2 {width: 344px;}
	.cont-area.area-1 {
		.cont-list {
			.grid-toolbar {
				@include bx;
				@include gray-gradient;
				$btn-lh: 1.5;
				width: 100%;
				border: 1px solid $bor-gray-table;
				border-top-left-radius: 4px;
				border-top-right-radius: 4px;
				padding: 4px;
				margin-bottom: -1px;
				button {
					.icon {
					}
				}
				.btn-gray, .btn-green, .btn-red, .btn-blue {
					padding: 12px, 3px 8px 2px;
				}
				.btn-gray {
					color: #000;
				}
			}
			.grid-wrap {
				@include grid-scr-x(null, 100%, 4px 4px 0 0);
				.grid-area.grid-contents {
					background: #fff;
					height: 400px;
				}
				.grid-tbl {
					th, td {
						text-align: left;
					}
					td {
						.cell {
							button.action {
								@include btn-pd-lr;
							}
						}
					}
				}
			}
			.grid-bottom {
				@include gray-gradient;
				@include bdr-r(0, 0, 4px, 4px);
				padding: 5px;
				border: 1px solid $bor-gray-table;
				border-top: 0;
				> * {
					@include va;
					@include bx;
					text-align: center;
					border-radius: 50%;
					font-weight: 700;
				}
				.prev, .next {
					@include ft(12px, #918884);
					@include sizes(26px);
					line-height: 24px;
					background-color: #fff;
					border: 1px solid #d2d2d2;
					&.st {
						letter-spacing: -3px;
					}
				}
				.prev {
					text-indent: -3px;
					&.st {
						text-indent: -5px;
					}
				}
				.num {
					@include ft(12px, #918884);
					@include sizes(26px);
					line-height: 26px;
					color: #fff;
					background-color: #f35800;
					border-color: #f85a00;
				}
				.next {
					text-indent: 3px;
					&.st {
						text-indent: 0px;
					}
				}
				.count {
					@include float(right);
					@include ft(12px, #313131, 400);
					padding-right: 12px;
					top: 3px;
					.co {
						color: $fg-orange-1;
					}
				}
			}
		}
	}
	.cont-area.area-2 {
		margin-left: 10px;
		padding-bottom: 10px;
		border-bottom: 1px dashed $bor-gray-table;
		.grid-tbl {
			@include tbl-base;
		}
		.row {
			margin-top: 10px;
			.cal-box {
				width: 105px;
				.inp-cal {
					top: -2px;
				}
				.i-cal {
					img {
						top: -1px;
					}
				}
			}
			button {
				@include btn-pd-lr(20px, 20px, 0);
			}
		}
	}
}

/* 예치금 */
.advDeposit-contents {
	.cont-property {
		.tbl-property {
			@include tbl-style-1;
            border-right: 1px solid $bdg-tblBase;
            width: 100%;
			td {
				.cell {
					.w-1 {
						width: 130px;
					}
					.form-select {
						&.property {
							width: 145px;
						}
					}
					.cal-box {
						width: 100px;
					}
					button {
						letter-spacing: 0;
						&.search {
							margin-left: 50px;
						}
					}
				}
			}
		}
	}
	.cont-list {
		margin-top: 10px;
		.grid-wrap {
			@include grid-scr-x(null, 100%, 4px);
			.grid-area.grid-contents {
				background: #fff;
				height: 650px;
			}
			.grid-area.grid-total {
				.grid-tbl {
					th, td { }
					td { }
				}
			}
			.grid-tbl {
				th, td {
					.cell { }
				}
			}
		}
		.grid-bottom {
			@include gray-gradient;
			@include bdr-r(0, 0, 4px, 4px);
			padding: 5px;
			border: 1px solid $bor-gray-table;
			border-top: 0;
			> * {
				@include va;
				@include bx;
				text-align: center;
				border-radius: 50%;
				font-weight: 700;
			}
			.prev, .next {
				@include ft(12px, #918884);
				@include sizes(26px);
				line-height: 24px;
				background-color: #fff;
				border: 1px solid #d2d2d2;
				&.st {
					letter-spacing: -3px;
				}
			}
			.prev {
				text-indent: -3px;
				&.st {
					text-indent: -5px;
				}
			}
			.num {
				@include ft(12px, #918884);
				@include sizes(26px);
				line-height: 26px;
				color: #fff;
				background-color: #f35800;
				border-color: #f85a00;
			}
			.next {
				text-indent: 3px;
				&.st {
					text-indent: 0px;
				}
			}
			.count {
				@include float(right);
				@include ft(12px, #313131, 400);
				padding-right: 12px;
				top: 3px;
				.co {
					color: $fg-orange-1;
				}
			}
		}
	}
}

/* cashier close */
.cshClose-contents {
	.cont-property {
		.tbl-property {
			@include tbl-style-1;
            border-right: 1px solid $bdg-tblBase;
            width: 100%;
			td {
				.cell {
					.form-select {
						&.report {
							width: 190px;
							margin-right: 10px;
						}
					}
					.cal-box {
						width: 120px;
					}
					button {
						letter-spacing: 0;
						&.action {
							margin-left: 5px;
						}
					}
				}
			}
		}
	}
	.tab-list {
		margin-top: 15px;
		> * {
			position: relative;
			float: left;
			color: #444;
		}
		.tab {
			display: inline-block;
			padding: 5px 12px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			background: #f7f7f7;
			border: 1px solid #c5c5c5;
			font-size: 12px;
			border-bottom-color: #9f9f9f;
			& + .tab {
				margin-left: 2px;
			}
			&.on {
				z-index: 1;
				background: #fff;
				border-color: #9f9f9f;
				border-bottom-color: #fff;
			}
		}
	}
	.item-list {
		border-top: 1px solid #9f9f9f;
		padding-top: 10px;
		margin-top: -1px;
		.grid-toolbar {
			@include bx;
			@include gray-gradient;
			$btn-lh: 1.5;
			width: 100%;
			border: 1px solid $bor-gray-table;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			padding: 4px;
			margin-bottom: -1px;
			button {
				.icon {
				}
			}
			.btn-gray, .btn-green, .btn-red, .btn-blue {
				padding: 12px, 3px 8px 2px;
			}
			.btn-gray {
				color: #000;
				&.btn-changes {
					padding-left: 5px;
					padding-right: 5px;
				}
			}
		}
		.grid-wrap.scr-wrap {
			@include grid-scr-x(null, 100%, 0);
			.grid-area.grid-contents {
				background: #fff;
				height: 580px;
			}
			.grid-area.grid-total {
				.grid-tbl {
					th, td { }
					td {
						border-bottom: 0;
					}
				}
			}
			.grid-tbl {
				th, td {
					.cell { }
				}
			}
		}
		.grid-bottom {
			@include grid-bottom-page;
		}
		.item-container {
			display: none;
			&.on {
				display: block;
			}
			.row {
				@include ft(14px, null, 700);
				letter-spacing: 0;
				margin-bottom: 10px;
				.t {
					margin-right: 10px;
				}
				.rdo-box {
					input {
						margin-right: 3px;
					}
					margin-right: 5px;
				}
			}
		}
		.item-container.summary {
			.grid-toolbar {

			}
			.grid-wrap.scr-wrap {
				.grid-area.grid-contents {
					background: #fff;
					height: 520px;
				}
			}
		}
		.item-container.credit {
			margin-bottom: 10px;
			.grid-wrap.scr-wrap {
				.grid-area.grid-contents {
					background: #fff;
					height: 530px;
				}
			}
			.row {
				margin-top: 10px;
				padding: 15px 0 0px;
				border-top: 1px dashed $bor-gray-table;
			}
			.grid-wrap.scr-wrap-brown {
				@include grid-scr-brown(null, 100%, 0);
				.grid-area.grid-contents {
					background: #fff;
					height: 300px;
					td {
						background: #ffffec;
					}
				}
			}
			.grid-bottom {
				border-color: $bdg-tblBase;
				.count {
					top: 0;
					.co {
						color: $fg-orange-1;
					}
				}
			}
		}
	}
	.item-container.extra {
		.row {
			.form-select.item {
				width: 200px;
			}
		}
		.grid-wrap.scr-wrap {
			.grid-area.grid-contents {
				height: 545px;
			}
		}
	}
	.cont-closed {
		padding: 10px;
		background: #f0f0f0;
		border-radius: 4px;
		h3 {
			@include ft(12px, #000);
			margin-bottom: 5px;
		}
		.grid-wrap {
			.grid-tbl {
				@include tbl-base();
				td {
					.cell {
						.texta-etc {
							@include texta-base(100%, 80px);
						}
					}
				}
			}
		}
		.row-btn {
			padding: 15px 0 10px;
			text-align: center;
			button {
				@include btn-pd-lr(20px, 20px, 0);
			}
		}
	}
}

/* accRec */
.accRcc-contents {
	.cont-area {
		margin-top: 10px;
		.area-1 {
			margin-top: 0;
		}
	}
	.cont-property {
		.tbl-property {
			@include tbl-style-1;
			td {
				.cell {
					.form-select {
						&.day {
							width: 110px;

						}
						&.card {
							width: 200px;
							margin-right: 20px;
						}
					}
					.rdo-box {
						@include va;
						padding: 0 3px;
						label {
							margin-right: 0px;
						}
					}
					.cal-box {
						width: 120px;
					}
					button {
						letter-spacing: 0;
					}
				}
			}
		}
	}
	.cont-list {
		margin-top: 10px;
		.grid-wrap {
			@include grid-scr-x(null, 100%, 4px 4px 0 0);
			.grid-area.grid-head {
				th {
					&.bor {
						border-bottom: 1px solid $bor-gray-table;
					}
				}
			}
			.grid-area.grid-contents {
				background: #fff;
				height: 550px;
				.grid-tbl {
					td {
						text-align: left;
					}
				}
			}
			.grid-area.grid-total {
				.grid-tbl {
					th, td { }
					td { }
				}
			}
		}
		.grid-bottom {
			@include gray-gradient;
			@include bdr-r(0, 0, 4px, 4px);
			padding: 5px;
			border: 1px solid $bor-gray-table;
			border-top: 0;
			> * {
				@include va;
				@include bx;
				text-align: center;
				border-radius: 50%;
				font-weight: 700;
			}
			.prev, .next {
				@include ft(12px, #918884);
				@include sizes(26px);
				line-height: 24px;
				background-color: #fff;
				border: 1px solid #d2d2d2;
				&.st {
					letter-spacing: -3px;
				}
			}
			.prev {
				text-indent: -3px;
				&.st {
					text-indent: -5px;
				}
			}
			.num {
				@include ft(12px, #918884);
				@include sizes(26px);
				line-height: 26px;
				color: #fff;
				background-color: #f35800;
				border-color: #f85a00;
			}
			.next {
				text-indent: 3px;
				&.st {
					text-indent: 0px;
				}
			}
			.count {
				@include float(right);
				@include ft(12px, #313131, 400);
				padding-right: 12px;
				top: 3px;
				.co {
					color: $fg-orange-1;
				}
			}
		}
	}
	.area-2 {
		.grid-wrap {
			.grid-area.grid-contents {
				height: 250px;
			}
		}
	}
	.row-btn {
		margin-top: 10px;
		button {
			@include btn-pd-lr(20px, 20px, 0);
		}
	}
}
