@charset "utf-8";

@import "../parts/variables";
@import "../parts/mixins";


/* 청소 일정 */
.maidSch-contents {
	.cont-property {
		.tbl-property {
			@include tbl-style-1;
			td {
				.cell {
					.rdo-box {
						padding: 0 8px;
						label {
							margin-right: 5px;
						}
					}
					.cal-box {
						.inp-cal {
							width: 150px;
						}
					}
					.btn-gray {
						.prev, .next {
							position: relative;
							top: -1px;
							color: #6E7A86;
							padding: 0 5px;
						}
					}
				}
			}
		}
	}
	.cont-list {
		.grid-container {
			@include grid-scr-x2(245px, null, 100%, 4px);
			.scr-wrap {
				.grid-tbl {
					th {
						&.sat {
							color: blue;
						}
						&.sun {
							color: red;
						}
					}
				}
                .grid-area.grid-contents {
                    height: 680px;
                }
			}
		}
	}
}

/* 객실 청소 */
.rmClean-contents {
	.cont-property {
        @include cont-tit;
		.tbl-property {
			@include tbl-style-1;
			td {
				.cell {
                    .form-select {
                        &.floor {
                            width: 80px;
                        }
                    }
					.cal-box {
						width: 130px;
					}
				}
			}
		}
	}
}

/* 도착목록 */
.arvList-contents {
    .cont-property {
        @include cont-tit;
		.tbl-property {
			@include tbl-style-1;
			td {
				.cell {
                    .form-select {
                        &.floor {
                            width: 80px;
                        }
                    }
					.cal-box {
						width: 130px;
					}
				}
			}
		}
	}
    .cont-list {
		margin-top: 10px;
		.grid-wrap {
			@include grid-scr-x(null, 100%, 4px);
			.grid-area.grid-contents {
				background: #fff;
				height: 650px;
			}
			.grid-area.grid-total {
				.grid-tbl {
					th, td { }
					td { }
				}
			}
			.grid-tbl {
				th, td {
                    text-align: center;
					.cell { }
				}
				td {
					.cell {
						button.action {
							@include btn-pd-lr;
						}
					}
				}
			}
		}
		.grid-bottom {
			@include grid-bottom-page;
		}
	}
}

/* 분실물 */
.lf-contents {
    .cont-property {
		.tbl-property {
			@include tbl-style-1;
			td {
				.cell {
                    .form-select {
                        &.req {
                            width: 120px;
                        }
                        &.status {
                            width: 100px;
                        }
                    }
					.cal-box {
						width: 130px;
					}
				}
			}
		}
	}
    .cont-list {
		margin-top: 10px;
		.grid-wrap {
			@include grid-scr-x(null, 100%, 4px 4px 0 0);
			.grid-area.grid-contents {
				background: #fff;
				height: 620px;
			}
			.grid-area.grid-total {
				.grid-tbl {
					th, td { }
					td { }
				}
			}
			.grid-tbl {
				th, td {
                    text-align: center;
					.cell { }
				}
				td {
					.cell {
						button.action {
							@include btn-pd-lr;
						}
					}
				}
			}
		}
        .grid-toolbar {
            @include grid-toolbar;
        }
		.grid-bottom {
            @include grid-bottom-page;
		}
	}
}

/* exb-status */
.exb-contents {
    .cont-property {
		.tbl-property {
			@include tbl-style-1;
			td {
				.cell {
                    .form-select {
                        &.req {
                            width: 120px;
                        }
                        &.status {
                            width: 100px;
                        }
                    }
					.cal-box {
						width: 130px;
					}
				}
			}
		}
	}
    .cont-list {
		margin-top: 10px;
		.grid-wrap {
			@include grid-scr-x(null, 100%, 4px 4px 0 0);
			.grid-area.grid-contents {
				background: #fff;
				height: 620px;
			}
			.grid-area.grid-total {
				.grid-tbl {
					th, td { }
					td { }
				}
			}
			.grid-tbl {
				th, td {
                    text-align: center;
					.cell { }
				}
				td {
					.cell {
						button.action {
							@include btn-pd-lr;
						}
					}
				}
			}
		}
	}
}

/* 청소 배정 */
.maidAss-contents {
    .cont-property {
		.tbl-property {
			@include tbl-style-1;
			td {
				.cell {
					.rdo-box {
						padding: 0 8px;
						label {
							margin-right: 5px;
						}
					}
					.cal-box {
						.inp-cal {
							width: 150px;
						}
					}
                    .chk-box {
                        margin: 0 10px 0 5px;
                    }
					.btn-gray {
						.prev, .next {
							position: relative;
							top: -1px;
							color: #6E7A86;
							padding: 0 5px;
						}
					}
				}
			}
		}
	}
    .cont-roomStatus {
		/* 객실관리 - 룸현황 */
		.room-area {
			margin-top: 10px;
			padding-top: 0px;
			padding-bottom: 0px;
			width: 100%;
			box-sizing: border-box;
			.list-room {
				font-family: $font-nnSquareR;
				.item-room {
					@include bx;
					margin: 0px 10px 10px 0px;
					padding: 0 5px 3px;
					border: 2px solid #d5d5d5;
					border-radius: 5px;
					background: #fff;
					width: 130px;
					float: left;
					font-size: 13px;
					font-weight: bold;
					letter-spacing: -1px;
					// min-height: 126px;
					// box-shadow: 1px 1px 1px rgba(0,0,0, 0.15);
					> div {
						@include bx;
						&:first-child, &.guestName {
							border: 0 !important;
						}
					}
					.roomNo {
						line-height: 26px;
						font-weight: 800;
						text-align: center;
						font-size: 14px;
						.num {
							float: left;
						}
						.status {
							position: relative;
							top: -1px;
							float: right;
						}
					}
					/*방 리스트 기본 스타일 .base*/
					&.off { }
					/*방 리스트 체크인 스타일 .chkIn*/
					&.on {
						border: 2px solid #C0B5A6;
						background: #C0B5A6;
						.roomNo {
							color: #fff;
							text-shadow: 1px 1px #000;
						}
					}
					/*클릭시 테두리 변경 .clk*/
					&.on.red {
						border: 2px solid #FD4B4B;
						background: #FD4B4B;
					}
				}
			}
			.list-floor {
				position: absolute;
				top: 0px;
				right: 0px;
				font-size: 13px;
				text-align: center;
				font-weight: bold;
				.tit {
					color: #c0b5a6;
				}
				.floor.total {
					background-color: #c0b5a6;
					color:#fff;
				}
				.floor {
					width:43px;
					height:28px;
					border:2px solid #c0b5a6;
					background: #fff;
					color: #c0b5a6;
					padding-top: 10px;
					margin-bottom:2px;
					cursor:pointer;
				}
			}
		}
	}
}
