@@include('../include/_head.html', {
	"page": "fnb"
})

<body class="page-fnb">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="cf contents menu-contents">

		@@include('../include/_row_h2.html', {
			"page-title": "메뉴"
		})

		<div class="cf cont-container-f">
            <div class="cont-area area-1">
                <div class="cont-property">
                    <div class="grid-wrap">
                        <div class="grid-contents">
                            <table class="grid-tbl tbl-property">
                                <colgroup>
                                    <col style="width:100px">
                                    <col style="width:*">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th><div class="cell">업장</div></th>
                                        <td>
                                            <div class="cell">
												<select name="" id="" class="form-select outlet">
													<option value="">컨퍼런스1-대연회장</option>
													<option value="">컨퍼런스2-대연회장</option>
													<option value="">2층-레스토랑</option>
												</select>

                                                <button type="button" class="btn-brown">SEARCH</button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- //.cont-property -->

                <div class="cont-list">
					<div class="grid-wrap scr-wrap">
						<div class="grid-scrollable-x">
							<div class="grid-area grid-head">
								<div class="grid-scrollable">
									<table class="grid-tbl">
										<colgroup>
											<col style="width:300px">
											<col style="width:100px">
											<col style="width:100px">
											<col style="width:70px">
											<col style="width:70px">
											<col style="width:70px">
											<col style="width:70px">
											<col style="width:70px">
											<col style="width:100px">
											<col style="width:100px">
											<col style="width:200px">
											<col style="width:100px">
											<col style="width:100px">
											<col style="width:*">
										</colgroup>
										<thead class="rowgroup">
											<tr>
												<th class="ta-left"><div class="cell">메뉴명</div></th>
												<th><div class="cell">메뉴코드</div></th>
												<th><div class="cell">가격</div></th>
												<th><div class="cell">노출순서</div></th>
												<th><div class="cell">재고관리</div></th>
												<th><div class="cell">예약메뉴</div></th>
												<th><div class="cell">사용유무</div></th>
												<th><div class="cell">룸서비스</div></th>
												<th><div class="cell">스캔코드</div></th>
												<th><div class="cell">원가</div></th>
												<th><div class="cell">비고</div></th>
												<th><div class="cell">거래처코드</div></th>
												<th><div class="cell">Posting Code</div></th>
												<th><div class="cell"></div></th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
							<div class="grid-area grid-contents">
								<table class="grid-tbl">
									<colgroup>
										<col style="width:300px">
										<col style="width:100px">
										<col style="width:100px">
										<col style="width:70px">
										<col style="width:70px">
										<col style="width:70px">
										<col style="width:70px">
										<col style="width:70px">
										<col style="width:100px">
										<col style="width:100px">
										<col style="width:200px">
										<col style="width:100px">
										<col style="width:100px">
										<col style="width:*">
									</colgroup>
									<tbody class="rowgroup">
										<tr>
											<td class="ta-left">
												<div class="cell">
													<span class="arr">▼</span> <span class="icon-trees folder"></span> 컨퍼런스1-대연회장
												</div>
											</td>
											<td class="ta-left"><div class="cell"></div></td>
											<td class="ta-right"><div class="cell">0</div></td>
											<td><div class="cell">0</div></td>
											<td><div class="cell">N</div></td>
											<td><div class="cell">N</div></td>
											<td><div class="cell">Y</div></td>
											<td><div class="cell">N</div></td>
											<td><div class="cell"></div></td>
											<td class="ta-right"><div class="cell">0</div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td class="ta-left"><div class="cell">N</div></td>
											<td><div class="cell"></div></td>
										</tr>
										<tr class="depth-2">
											<td class="ta-left"><div class="cell"><span class="icon-trees file"></span> 대관</div></td>
											<td class="ta-left"><div class="cell">MENU000002</div></td>
											<td class="ta-left"><div class="cell">33,000</div></td>
											<td><div class="cell">1</div></td>
											<td><div class="cell">N</div></td>
											<td><div class="cell">N</div></td>
											<td><div class="cell">Y</div></td>
											<td><div class="cell">N</div></td>
											<td><div class="cell"></div></td>
											<td class="ta-right"><div class="cell">0</div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td class="ta-left"><div class="cell">001003100</div></td>
											<td><div class="cell"></div></td>
										</tr>
										<tr class="depth-2">
											<td class="ta-left"><div class="cell"><span class="icon-trees file"></span> 중식뷔페</div></td>
											<td class="ta-left"><div class="cell">MENU000001</div></td>
											<td class="ta-left"><div class="cell">20,000</div></td>
											<td><div class="cell">1</div></td>
											<td><div class="cell">N</div></td>
											<td><div class="cell">N</div></td>
											<td><div class="cell">Y</div></td>
											<td><div class="cell">N</div></td>
											<td><div class="cell"></div></td>
											<td class="ta-right"><div class="cell">0</div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td class="ta-left"><div class="cell">0010021501</div></td>
											<td><div class="cell"></div></td>
										</tr>
									</tbody>
								</table>
							</div>

						</div>
					</div>
					<!-- //.grid-wrap -->
				</div>
				<!-- //.cont-list -->
            </div>
            <div class="cont-area area-2">
                <h3>메뉴정보</h3>
                <div class="grid-wrap">
                    <div class="grid-contents">
                        <table class="grid-tbl">
                            <colgroup>
                                <col style="width: 90px">
                                <col style="width: 200px">
                                <col style="width: 90px">
                                <col style="width: 200px">
                                <col style="width: 90px">
                                <col style="width: 200px">
                                <col style="width: 90px">
                                <col style="width: *">
                            </colgroup>
                            <tbody class="rowgroup">
                                <tr>
                                    <th><div class="cell">업장</div></th>
                                    <td>
                                        <div class="cell">
											<select name="" id="" class="form-select w-1" disabled>
												<option value="">컨퍼런스1-대연회장</option>
												<option value="">컨퍼런스2-대연회장</option>
												<option value="">2층-레스토랑</option>
											</select>
										</div>
                                    </td>
                                    <th><div class="cell necess">메뉴명</div></th>
                                    <td>
                                        <div class="cell"><input type="text" class="form-input w-1"></div>
                                    </td>
                                    <th><div class="cell">메뉴코드</div></th>
                                    <td colspan="3">
										<div class="cell"><input type="text" class="form-input w-1"></div>
                                    </td>
                                </tr>
                                <tr>
									<th><div class="cell">가격</div></th>
									<td>
										<div class="cell"><input type="text" class="form-input w-1"></div>
									</td>
                                    <th><div class="cell">좌석수</div></th>
                                    <td>
                                        <div class="cell"><input type="number" class="form-input w-2" value="1"></div>
                                    </td>
                                    <th><div class="cell">사용유무</div></th>
                                    <td colspan="3">
                                        <div class="cell">
                                            <span class="rdo-box"><label><input type="radio" name="">Yes</label></span>
                                            <span class="rdo-box"><label><input type="radio" name="">No</label></span>
                                        </div>
                                    </td>
                                </tr>
								<tr>
									<th><div class="cell">예약메뉴유무</div></th>
									<td>
										<div class="cell">
                                            <span class="rdo-box"><label><input type="radio" name="">Yes</label></span>
                                            <span class="rdo-box"><label><input type="radio" name="">No</label></span>
                                        </div>
									</td>
									<th><div class="cell">재고관리유무</div></th>
									<td>
										<div class="cell">
											<select name="" id="" class="form-select w-1">
												<option value="">NO</option>
												<option value="">YES</option>
											</select>
										</div>
									</td>
									<th><div class="cell">룸서비스유무</div></th>
									<td colspan="3">
										<div class="cell">
											<select name="" id="" class="form-select w-1">
												<option value="">NO</option>
												<option value="">YES</option>
											</select>
										</div>
									</td>
								</tr>
                                <tr>
                                    <th><div class="cell">스캔코드</div></th>
                                    <td colspan="3">
                                        <div class="cell"><input type="text" class="form-input w-3"></div>
                                    </td>
                                    <th><div class="cell">원가</div></th>
                                    <td colspan="3">
                                        <div class="cell"><input type="text" class="form-input w-1"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><div class="cell">비고</div></th>
                                    <td colspan="3">
                                        <div class="cell">
                                            <textarea name="" id="" cols="30" rows="10" class="texta-etc"></textarea>
                                        </div>
                                    </td>
                                    <th><div class="cell">거래처코드</div></th>
                                    <td>
										<div class="cell"><input type="text" class="form-input w-1"></div>
                                    </td>
                                    <th><div class="cell">Posting Code</div></th>
                                    <td>
                                        <div class="cell">
											<select name="" id="" class="form-select w-1">
												<option value="">컨퍼런스1-대연회장</option>
												<option value="">컨퍼런스2-대연회장</option>
												<option value="">2층-레스토랑</option>
											</select>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.grid-wrap -->

                <div class="row-btn">
					<button type="button" class="btn-gray" disabled>NEW</button>
                    <button type="button" class="btn-blue" disabled>SAVE</button>
					<button type="button" class="btn-gray" disabled>DEL</button>
                </div>
            </div>

		</div>
	</div>
	<!--//.contents-->

</div>
</body>
</html>
