@@include('../include/_head.html', {
	"page": "fnb"
})

<body class="page-fnb">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="cf contents outlet-contents">

		@@include('../include/_row_h2.html', {
			"page-title": "업장"
		})

		<div class="cf cont-container-f">
            <div class="cont-area area-1">
                <div class="cont-property">
                    <div class="grid-wrap">
                        <div class="grid-contents">
                            <table class="grid-tbl tbl-property">
                                <colgroup>
                                    <col style="width:100px">
                                    <col style="width:120px">
                                    <col style="width:100px">
                                    <col style="width:*">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th><div class="cell">업장명</div></th>
                                        <td>
                                            <div class="cell"><input type="text" class="form-input"></div>
                                        </td>
                                        <th><div class="cell">사용유무</div></th>
                                        <td>
                                            <div class="cell">
                                                <span class="rdo-box"><label><input type="radio" name="">ALL</label></span>
                                                <span class="rdo-box"><label><input type="radio" name="">Y</label></span>
                                                <span class="rdo-box n"><label><input type="radio" name="">N</label></span>
                                                <button type="button" class="btn-brown">SEARCH</button>
                                                <button type="button" class="btn-brown">CLEAR</button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- //.cont-property -->

                <div class="cont-list">
					<div class="grid-wrap scr-wrap">
						<div class="grid-scrollable-x">
							<div class="grid-area grid-head">
								<div class="grid-scrollable">
									<table class="grid-tbl">
										<colgroup>
											<col style="width:40px">
											<col style="width:120px">
											<col style="width:150px">
											<col style="width:90px">
											<col style="width:80px">
											<col style="width:70px">
											<col style="width:70px">
											<col style="width:100px">
											<col style="width:120px">
											<col style="width:120px">
											<col style="width:120px">
											<col style="width:*">
										</colgroup>
										<thead class="rowgroup">
											<tr>
												<th><div class="cell">번호</div></th>
												<th><div class="cell">지점</div></th>
												<th><div class="cell">업장명</div></th>
												<th><div class="cell">업장코드</div></th>
												<th><div class="cell">업장타입</div></th>
												<th><div class="cell">테이블수</div></th>
												<th><div class="cell">사용유무</div></th>
												<th><div class="cell">관리자</div></th>
												<th><div class="cell">전화번호</div></th>
												<th><div class="cell">대표전화번호</div></th>
												<th><div class="cell">팩스번호</div></th>
												<th><div class="cell"></div></th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
							<div class="grid-area grid-contents">
								<table class="grid-tbl">
                                    <colgroup>
                                        <col style="width:40px">
                                        <col style="width:120px">
                                        <col style="width:150px">
                                        <col style="width:90px">
                                        <col style="width:80px">
                                        <col style="width:70px">
                                        <col style="width:70px">
                                        <col style="width:100px">
                                        <col style="width:120px">
                                        <col style="width:120px">
                                        <col style="width:120px">
                                        <col style="width:*">
                                    </colgroup>
									<tbody class="rowgroup">
										<tr>
											<td><div class="cell">3</div></td>
											<td class="ta-left"><div class="cell">Ramada pt</div></td>
											<td class="ta-left"><div class="cell">2층-레스토랑</div></td>
											<td><div class="cell">FNB003</div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell">1</div></td>
											<td><div class="cell">Y</div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
										</tr>
										<tr>
											<td><div class="cell">3</div></td>
											<td class="ta-left"><div class="cell">Ramada pt</div></td>
											<td class="ta-left"><div class="cell">2층-레스토랑</div></td>
											<td><div class="cell">FNB003</div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell">1</div></td>
											<td><div class="cell">Y</div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
										</tr>
									</tbody>
								</table>
							</div>

						</div>
					</div>
					<!-- //.grid-wrap -->
                    <div class="cf grid-bottom">
    					<a href="#" class="prev st">&lt;&lt;</a>
    					<a href="#" class="prev">&lt;</a>
    					<span class="num">0</span>
    					<a href="#" class="next">&gt;</a>
      					<a href="#" class="next st">&gt;&gt;</a>
    					<span class="count"><span class="co">3</span> Count</span>
    				</div>
    				<!-- //.grid-bottom-->
				</div>
				<!-- //.cont-list -->
            </div>
            <div class="cont-area area-2">
                <h3>업장정보</h3>
                <div class="grid-wrap">
                    <div class="grid-contents">
                        <table class="grid-tbl">
                            <colgroup>
                                <col style="width: 90px">
                                <col style="width: 250px">
                                <col style="width: 90px">
                                <col style="width: 250px">
                                <col style="width: 90px">
                                <col style="width: *">
                            </colgroup>
                            <tbody class="rowgroup">
                                <tr>
                                    <th><div class="cell necess">업장명</div></th>
                                    <td>
                                        <div class="cell"><input type="text" class="form-input w-1"></div>
                                    </td>
                                    <th><div class="cell">업장코드</div></th>
                                    <td>
                                        <div class="cell"><input type="text" class="form-input w-1" disabled></div>
                                    </td>
                                    <th><div class="cell necess">업장구분</div></th>
                                    <td>
                                        <div class="cell">
                                            <select name="" id="" class="form-select gray w-1">
                                                <option value="">선택</option>
                                                <option value="">영업장구분</option>
                                                <option value="">객실</option>
                                                <option value="">Room</option>
                                                <option value="">Paid Out</option>
                                                <option value="">Mini Bar</option>
                                                <option value="">F&B</option>
                                                <option value="">Transfer Charge</option>
                                                <option value="">Telephone</option>
                                                <option value="">대관</option>
                                                <option value="">Laundry</option>
                                                <option value="">Fax</option>
                                                <option value="">Misc</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><div class="cell necess">좌석수</div></th>
                                    <td>
                                        <div class="cell"><input type="number" class="form-input w-2" value="1"></div>
                                    </td>
                                    <th><div class="cell">사용유무</div></th>
                                    <td>
                                        <div class="cell">
                                            <span class="rdo-box"><label><input type="radio" name=""> Yes</label></span>
                                            <span class="rdo-box"><label><input type="radio" name=""> No</label></span>
                                        </div>
                                    </td>
                                    <th><div class="cell">관리자</div></th>
                                    <td>
                                        <div class="cell"><input type="text" class="form-input w-1"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><div class="cell">관리자연락처</div></th>
                                    <td>
                                        <div class="cell"><input type="text" class="form-input"></div>
                                    </td>
                                    <th><div class="cell">대표전화번호</div></th>
                                    <td>
                                        <div class="cell"><input type="text" class="form-input"></div>
                                    </td>
                                    <th><div class="cell">팩스번호</div></th>
                                    <td>
                                        <div class="cell"><input type="text" class="form-input w-1"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><div class="cell">비고</div></th>
                                    <td colspan="5">
                                        <div class="cell">
                                            <textarea name="" id="" cols="30" rows="10" class="texta-etc"></textarea>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.grid-wrap -->

                <div class="row-btn">
                    <button type="button" class="btn-blue">SAVE</button>
                    <button type="button" class="btn-gray" disabled>DEL</button>
                    <button type="button" class="btn-gray">CLEAR</button>
                </div>
            </div>

		</div>
	</div>
	<!--//.contents-->

</div>
</body>
</html>
