@@include('../include/_head.html', {
	"page": "front"
})

<body class="page-front">

<!-- @@include('../include/pop/pop_rsv.html') -->

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="cf contents lgBook-contents">
		<div class="row-top-btn">
			<button type="button" class="btn-green add" onclick="popFn.show('.rmBlock-container')">ADD</button>
		</div>

		@@include('../include/_row_h2.html', {
			"page-title": "Log Book"
		})
		<div class="cf cont-container-f">
			<div class="cont-property">
				<div class="grid-wrap">
					<div class="grid-contents">
						<table class="grid-tbl tbl-property">
							<colgroup>
								<col style="width: 80px">
								<col style="width: 250px">
								<col style="width: 80px">
								<col style="width: 240px">
								<col style="width: 80px">
								<col style="width: *">
							</colgroup>
							<tbody>
								<tr>
									<th><div class="cell">날짜</div></th>
									<td>
										<div class="cell">
											<span class="cal-box">
												<input type="text" class="appe-reset inp-cal date-ui">
												<span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
											</span>
											<span class="mg">~</span>
											<span class="cal-box">
												<input type="text" class="appe-reset inp-cal date-ui">
												<span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
											</span>
										</div>
									</td>
									<th><div class="cell">분류</div></th>
									<td>
										<div class="cell">
											<select name="" id="" class="form-select w-1">
												<option value="">ALL</option>
												<option value="">PRICE</option>
												<option value="">INFO</option>
												<option value="">PERSONAL</option>
											</select>
											<select name="" id="" class="form-select w-1">
												<option value="">DISPLAY</option>
												<option value="">Y</option>
												<option value="">N</option>
											</select>
										</div>
									</td>
									<th><div class="cell">검색</div></th>
									<td>
										<div class="cell">
											<select name="" id="" class="form-select w-1">
												<option value="">Contents</option>
											</select>
											<input type="text" class="form-input search">
											<button type="button" class="btn-brown">SEARCH</button>
											<button type="button" class="btn-brown">CLEAR</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="cont-list">
				<div class="grid-toolbar">
					<button type="button" class="btn-gray btn-changes"><span class="icon ic-excel"></span> Export to Excel</button>
				</div>
				<div class="grid-wrap scr-wrap">
					<div class="grid-scrollable-x">
						<div class="grid-area grid-head">
							<div class="grid-scrollable">
								<table class="grid-tbl">
									<colgroup>
										<col style="width: 80px">
										<col style="width: *">
										<col style="width: 80px">
										<col style="width: 80px">
										<col style="width: 150px">
										<col style="width: 80px">
										<col style="width: 150px">
										<col style="width: 645px">
									</colgroup>
									<thead class="rowgroup">
										<tr>
											<th><div class="cell">유형</div></th>
											<th><div class="cell">내용</div></th>
											<th class="ta-center"><div class="cell">Display</div></th>
											<th><div class="cell">생성자</div></th>
											<th><div class="cell">생성일자</div></th>
											<th><div class="cell">변경자</div></th>
											<th><div class="cell">변경된</div></th>
											<th><div class="cell"></div></th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
						<div class="grid-area grid-contents">
							<table class="grid-tbl">
								<colgroup>
									<col style="width: 80px">
									<col style="width: *">
									<col style="width: 80px">
									<col style="width: 80px">
									<col style="width: 150px">
									<col style="width: 80px">
									<col style="width: 150px">
									<col style="width: 645px">
								</colgroup>
								<tbody class="rowgroup">
									<tr>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td class="ta-center"><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
									</tr>
									<!--tr>(th+td)-->
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- //.grid-wrap -->
				<div class="cf grid-bottom">
					<a href="#" class="prev st">&lt;&lt;</a>
					<a href="#" class="prev">&lt;</a>
					<span class="num">0</span>
					<a href="#" class="next">&gt;</a>
  					<a href="#" class="next st">&gt;&gt;</a>
					<span class="count">1 - 100 of 158 items</span>
				</div>
				<!-- //.grid-bottom-->
			</div>
			<!--//.cont-rmBlock-->
		</div>
	</div>
	<!-- //.contents -->


</div>
</body>
</html>
