@@include('../include/_head.html', {
	"page": "front"
})

<body class="page-front">

@@include('../include/pop/pop_rsv.html')

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="cf contents lgBook-contents">
		<div class="row-top-btn">
			<button type="button" class="btn-green add" onclick="popFn.show('.rmBlock-container')">ADD</button>
		</div>

		@@include('../include/_row_h2.html', {
			"page-title": "Log Book"
		})
		<div class="cf cont-container-f">
			<div class="cont-property">
				<div class="grid-wrap">
					<div class="grid-contents">
						<table class="grid-tbl tbl-property">
							<colgroup>
								<col style="width: 104px">
								<col style="width: 180px">
								<col style="width: 90px">
								<col style="width: 180px">
								<col style="width: 90px">
								<col style="width: 126px">
								<col style="width: 90px">
								<col style="width: 72px">
								<col style="width: *">
							</colgroup>
							<tbody>
								<tr>
									<th><div class="cell">날짜</div></th>
									<td>
										<div class="cell">
											<span class="cal-box">

											</span>
										</div>
									</td>
									<th><div class="cell">계정</div></th>
									<td>
										<div class="cell">
											<input type="text" class="form-input">
										</div>
									</td>
									<th><div class="cell">과정</div></th>
									<td>
										<div class="cell">
											<select name="" id="" class="form-select gray">
												<option value="">ALL</option>
												<option value="">완료</option>
												<option value="">진행</option>
												<option value="">진행전</option>
											</select>
										</div>
									</td>
									<th><div class="cell">사용유무</div></th>
									<td>
										<div class="cell">
											<select name="" id="" class="form-select gray useYn">
												<option value="">ALL</option>
												<option value="" selected>Y</option>
												<option value="">N</option>
											</select>
										</div>
									</td>
									<td>
										<div class="cell">
											<button type="button" class="btn-brown">SEARCH</button>
											<button type="button" class="btn-gray btn-i"><span class="icon ic-excel"></span>Excel</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="cont-list">
<!--
				<div class="grid-toolbar">
					<button type="button" class="btn-gray btn-changes"><span class="icon ic-check"></span> Save changes</button>
					<button type="button" class="btn-gray btn-changes"><span class="icon ic-cancel"></span> Cancel changes</button>
					<button type="button" class="btn-red">CANCEL</button>
					<button type="button" class="btn-green">NOSHOW</button>
					<button type="button" class="btn-blue">예약 안내</button>
					<button type="button" class="btn-brown">고객 프로필</button>
				</div>
-->
				<div class="grid-wrap scr-wrap">
					<div class="grid-scrollable-x">
						<div class="grid-area grid-head">
							<div class="grid-scrollable">
								<table class="grid-tbl">
									<colgroup>
										<col style="width: 56px">
										<col style="width: *">
										<col style="width: 280px">
										<col style="width: 230px">
										<col style="width: 230px">
										<col style="width: 170px">
										<col style="width: 230px">
										<col style="width: 170px">
										<col style="width: 75px">
									</colgroup>
									<thead class="rowgroup">
										<tr>
											<th><div class="cell">번호</div></th>
											<th><div class="cell">계약 이름</div></th>
											<th><div class="cell">계약 날짜</div></th>
											<th><div class="cell">계정</div></th>
											<th><div class="cell">생성일자</div></th>
											<th><div class="cell">생성자</div></th>
											<th><div class="cell">변경된</div></th>
											<th><div class="cell">변경자</div></th>
											<th><div class="cell">용도</div></th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
						<div class="grid-area grid-contents">
							<table class="grid-tbl">
								<colgroup>
									<col style="width: 56px">
									<col style="width: *">
									<col style="width: 280px">
									<col style="width: 230px">
									<col style="width: 230px">
									<col style="width: 170px">
									<col style="width: 230px">
									<col style="width: 170px">
									<col style="width: 75px">
								</colgroup>
								<tbody class="rowgroup">
									<tr>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
									</tr>
									<!--tr>(th+td)-->
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- //.grid-wrap-2 -->
			</div>
			<!--//.cont-rmBlock-->
		</div>
	</div>
	<!-- //.contents -->


</div>
</body>
</html>
