@charset "utf-8";

// 전달인자 설징이 없는 믹스인
@mixin reset-box {
	margin: 0;
	border: 0;
	padding: 0;
}
@mixin reset-table {
	border-collapse: collapse;
	border-spacing: 0;
}
// 전달인자가 설정된 믹스인
@mixin position($type:relative, $top:null, $left:null, $bottom:null, $right:null) {
	position: $type;
	top: $top;
	left: $left;
	bottom: $bottom;
	right: $right;
}
@mixin size($w:null, $h:null) {
	width: $w;
	height: $h;
}
@mixin sizes($s:null, $bg: null) {
	width: $s;
	height: $s;
	background: $bg
}
@mixin transition($args...) {
	-webkit-transition: $args;
	transition: $args;
}
@mixin mg-auto($t: null, $b: null, $type: relative) {
	position: $type;
	margin: $t auto $b;
}
// 마이크로 클리어픽스(Micro Clearfix)
@mixin clearfix {
	&::before, &::after {
		content: '';
		display: table;
	}
	&::after {
		clear: both;
	}
	.ie8 & {
		zoom: 1;
	}
}
// 커스텀 믹스인
// 노출 리셋
@mixin show-reset {
	width: auto;
	height: auto;
	text-indent: 0;
	font-size: 100%;
	line-height: normal;
	visibility: visible;
}
// 중앙 정렬
@mixin centerThis($width: 1200px) {
	width: $width;
	margin: 0 auto;
}
@mixin float($l: left) {
	position: relative;
	float: $l;
}
@mixin bx($type: border-box) {
	position: relative;
	box-sizing: $type;
}
@mixin dp($type: inline-block) {
	position: relative;
	display: $type;
}
@mixin va($type: middle, $type-dp: inline-block){
	position: relative;
	vertical-align: $type;
	display: $type-dp;
}
@mixin to($type: ellipsis) {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: $type;
}
@mixin bdr($color: transparent, $with: 1px, $type: solid) {
	border: 1px solid $color;
}
@mixin bdr-r($tl: 4px, $tr: 4px, $bl: 4px, $br: 4px) {
	border-radius: $tl $tr $bl $br;
}
@mixin bdr-rs($n: 4px) {
	border-radius: $n;
}
@mixin lbl($fz: 12px, $mg: 3px) {
	position: relative;
	font-size: $fz;
	& > input {
		margin-right: $mg;
	}
}
@mixin appear($type: none, $bd-c: #ddd) {
	appearance: $type;
	-webkit-appearance: $type;
	-moz-appearance: $type;
	border: 1px solid $bd-c;
	border-radius: 0;
	-webkit-border-radius: 0;
}
@mixin ft($s: 13px, $c: #333, $w: null, $fm: null) {
	font-size: $s;
	color: $c;
	font-weight: $w;
	font-family: $fm;
}
@mixin zidx($z: 1, $type: relative) {
	position: $type;
	z-index: $z;
}
@mixin linear-gradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}


// 컴포넌트 관련
@mixin gray-gradient {
	background: $bg-tblBase-th;
	border-bottom: 1px solid $bor-gray-table;
	background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.6)),to(rgba(255,255,255,0)));
	background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.6) 0,rgba(255,255,255,0) 100%);
	background-image: none,linear-gradient(to bottom,rgba(255,255,255,.6) 0,rgba(255,255,255,0) 100%);
	background-position: 50% 50%;
	background-color: #eae8e8;
}
@mixin i-sprite-1 ($args...){
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	overflow: hidden;
	background: $args;
	font-size: 0;
	line-height: 0;
	text-align: center;
}
// 폼 베이스
@mixin form-base($wth: null, $he: 25px, $pd: 2px) {
	position: relative;
	width: $wth;
	height: $he;
    padding: $pd;
    font-size: 12px;
	margin: 0 auto;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #b6b6b6;
    background: #fff;
//    box-shadow: inset 0px 1px 2px #ddd;
    box-shadow: inset 0px 1px 2px rgba(0,0,0, .1);
    border-radius: 4px;
    line-height: 1.6;
    &[disabled], &[readonly] {
		background: #eee;
		color: #676767;
	}
}
@mixin slt-base($wth: null, $he: 25px, $pd: 2px) {
	position: relative;
	width: $wth;
	height: $he;
    padding: $pd;
    font-size: 12px;
	margin: 0 auto;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #b6b6b6;
	background: #fff;
//	box-shadow: 0px 1px 1px #e9eced;
	box-shadow: 0px 1px 1px rgba(0,0,0, .1);
	border-radius: 4px;
	font-size: 12px;
	line-height: 19px;
	min-width: 50px;
	height: $he;
	padding: $pd;
	margin: 0px auto;
	&[readonly] {
		background: #fff;
		color: gray;
	}
	&.white {
		background: #fff;
	}
	&.gray {
		background-color: #f2f0f0;
		background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.8)),to(rgba(255,255,255,0)));
		background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.8) 0,rgba(255,255,255,0) 100%);
		background-image: none,linear-gradient(to bottom,rgba(255,255,255,.8) 0,rgba(255,255,255,0) 100%);
		background-position: 50% 50%;
	}
}
$btn-lh: 1.5;
@mixin btn-base($wth: null, $he: null, $bg: fff, $bdc: #cdcdcd, $c: #333, $tsh-c: transparent) {
	position: relative;
	display: inline-block;
	width: $wth;
	height: $he;
	border: 1px solid $bdc;
	background-color: $bg;
	border-color: $bdc;
	color: $c;
	box-shadow: 0px 1px rgba(217, 217, 217, 0.75);
	text-shadow: 0px -1px $tsh-c;
    padding: 1px 5px 0px;
	margin: 0 auto;
	box-sizing: border-box;
	vertical-align: middle;
    font-size: 13px;
    line-height: 1.6;
    letter-spacing: -0.5px;
	cursor: pointer;
	border-radius: 3px;
	&[disabled], &[disabled]:hover {
		background: #ccc;
		border-color: #ccc;
//		background: #d6d6d6;
//		border-color: #d6d6d6;
		color: #fff;
		text-shadow: 0px -1px #aeaeae;
		box-shadow: none;
	}
}
@mixin btn-base2($wth: null, $he: null) {
	position: relative;
	display: inline-block;
	width: $wth;
	height: $he;
    padding: 1px 5px 0px;
	margin: 0 auto;
	box-sizing: border-box;
	vertical-align: middle;
    font-size: 13px;
    line-height: 1.6;
	cursor: pointer;
	border-radius: 3px;
	background: #fff;
	border-color: #cdcdcd;
	color: #444;
}
// 색상별 버튼
@mixin btn-gray($wth: null, $he:null, $fz: null, $pd: null) {
//	@include btn-base(null, null, #f7f7f7, #b9babc, #6e7a86);
	@include btn-base(null, null, #f2f0f0, #b9babc, #333);
	width: $wth;
	height: $he;
	font-size: $fz;
	padding: $pd;
//	background-color: #f2f0f0;
	background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.8)),to(rgba(255,255,255,0)));
	background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.8) 0,rgba(255,255,255,0) 100%);
	background-image: none,linear-gradient(to bottom,rgba(255,255,255,.8) 0,rgba(255,255,255,0) 100%);
	background-position: 50% 50%;
 	&:hover {
		text-shadow: 0px 1px #fff;
		background: #dae3e7;
	}
//	&[disabled] {
//		text-shadow: none;
//		background: #ccc;
//		text-shadow: 0px -1px #b7b7b7;
//	}
	&.btn-i {
		background: #f2f2f2;
		border-color: #d4d4d4;
		color: #2e2e2e;
	}
	&.btn-i:hover {
		background: #bcb4b0;
		text-shadow: none;
	}
}
@mixin btn-green($wth: null, $he:null, $fz: null, $pd: null) {
	@include btn-base(null, null, #84c35c, #69994d, #deffbb, #729a59);
	width: $wth;
	height: $he;
	font-size: $fz;
	padding: $pd;
 	&:hover {
		color: #fff;
		background: #66ba2c;
	}
}
@mixin btn-red($wth: null, $he:null, $fz: null, $pd: null) {
	@include btn-base(null, null, #BB4749, #882f29, #ffccc8, #9a4040);
	width: $wth;
	height: $he;
	font-size: $fz;
	padding: $pd;
	&:hover {
		color: #fff;
		background: #ba383a;
	}
}
@mixin btn-blue($wth: null, $he:null, $fz: null, $pd: null) {
	@include btn-base(null, null, #5394cc, #1a70ba, #dfeffc, #34668c);
	width: $wth;
	height: $he;
	font-size: $fz;
	padding: $pd;
	&:hover {
	    color: #fff;
		background: #237dc9;
	}
}
@mixin btn-brown($wth: null, $he:null, $fz: null, $pd: null) {
	@include btn-base(null, null, #b29b7a, #624f31, #f2dfc3, #8e7d64);
	width: $wth;
	height: $he;
	font-size: $fz;
	padding: $pd;
	&:hover {
	    color: #fff;
		background: #998466;
	}
}
@mixin btn-orange($wth: null, $he:null, $fz: null, $pd: null) {
	@include btn-base(null, null, #f77c25, rgba(0,0,0, .15), rgba(255,255,255, .85), rgba(0,0,0, .2));
	width: $wth;
	height: $he;
	font-size: $fz;
	padding: $pd;
	&:hover {
	    color: #fff;
		background: #f76803;
	}
}
@mixin btn-pd-lr($pl: 15px, $pr: 15px, $ls: 0, $fz: null) {
	padding-left: $pl;
	padding-right: $pr;
	letter-spacing: $ls;
	font-size: $fz;
}

@mixin texta-base($wth: null, $he: null, $type: none) {
	@include form-base;
	padding: 4px;
	width: $wth;
	height: $he;
	resize: $type;
}
@mixin page-title($fz: 20px, $pd: 0 10px) {
	font-size: $fz;
	padding: $pd;
	font-family: $font-ntss;
	color: #908270;
}
// 테이블
@mixin tbl-base($bd-c: $bdg-tblBase, $th-bg: $bg-tblBase-th, $td-bg: #fff) {
	width: 100%;
	border: 1px solid $bd-c;
	border-bottom: none;
	table-layout: fixed;
	th, td {
		// min-height: 39px;
		height: 28px;
		border-bottom: 1px solid $bd-c;
		color: #666;
		font-size: 12px;
		.cell {
			position: relative;
			@include clearfix;
			padding: 3px 7px;
			&.pd-0 {
				padding-top: 0;
				padding-bottom: 0px;
			}
			&.necess {
				background: url("../../img/tick-small-red.png") no-repeat 100% 58%;
			}
		}
	}
	th {
		height: 33px;
		background: $th-bg;
//		background: $bg-tblBase-th;
//		background: $bg-tblBase;
		overflow: visible;
		color: #444;
		text-align: center;
		.cell {
			font-weight: 700;
		}
		.cell.order-ui {
			cursor: pointer;
			&:after {
				content: "▼";
				position: relative;
				display: none;
				// position: absolute;
				// top: -6px;
				// left: 50%;
				// margin-left: -5px;
				margin-left: 2px;
				font-size: 10px;
				color: #73787D;
			}
			&:hover:after {
				display: inline;
			}
			&.ascending:after {
				content: "▲";
			}
		}
	}
	td {
		background: $td-bg;
//		background: #fff;
		border-left: 1px dashed $bd-c;
		.cell {
			.chk-box, .rdo-box {
				input {
					margin-right: 3px;
				}
				& + .chk-box, & + .rdo-box {
					margin-left: 5px;
				}
			}
		}
	}
}

// 테이블 - 스타일1 tbl-property 스타일
// th, td {background: $bg-tblBase;}
// th {border-left: 1px solid #dashed $bd-c;}
@mixin tbl-style-1($bd-c: $bdg-tblBase) {
	width: 100%;
	border: 1px solid $bd-c;
	border-bottom: none;
	table-layout: fixed;
	th, td {
		// min-height: 39px;
		height: 28px;
		border-bottom: 1px solid $bd-c;
		background: $bg-tblBase;
		color: #666;
		font-size: 12px;
		.cell {
			position: relative;
			@include clearfix;
			padding: 3px 7px;
			&.pd-0 {
				padding-top: 0;
				padding-bottom: 0px;
			}
			&.necess {
				background: url("../../img/tick-small-red.png") no-repeat 100% 58%;
			}
		}
	}
	th {
		height: 33px;
		border-left: 1px dashed $bd-c;
		overflow: visible;
		color: #444;
		text-align: center;
		.cell {
			font-weight: 700;
		}
		.cell.order-ui {
			cursor: pointer;
			&:after {
				content: "▼";
				position: relative;
				display: none;
				// position: absolute;
				// top: -6px;
				// left: 50%;
				// margin-left: -5px;
				margin-left: 2px;
				font-size: 10px;
				color: #73787D;
			}
			&:hover:after {
				display: inline;
			}
			&.ascending:after {
				content: "▲";
			}
		}
	}
	td {
		border-left: 1px dashed $bd-c;
		.cell {
			.chk-box, .rdo-box {
				input {
					margin-right: 3px;
				}
				& + .chk-box, & + .rdo-box {
					margin-left: 5px;
				}
			}
			.form-select {
				padding: 2px;
			}
		}
	}
}

// x측 스크롤 테이블 - brown 테마
@mixin grid-scr-brown($scr-wth: 580px, $wth: 100%, $bd-r: null, $bd-c: $bdg-tblBase) {
	width: $wth;
	border: 1px solid $bd-c;
	overflow: hidden;
	box-sizing: border-box;
	border-radius: $bd-r;
	$ie8-wth: 1740px;
	.grid-tbl {
		.ie8 & {
			width: $ie8-wth;
		}
		width: 100%;
		table-layout: fixed;
		border: none;
		border-right: 1px solid $bd-c;
		th, td {
			// min-height: 39px;
			height: 28px;
			border-bottom: 1px solid $bd-c;
			color: #666;
			font-size: 12px;
			.cell {
				position: relative;
				@include clearfix;
				padding: 3px 7px;
				&.pd-0 {
					padding-top: 0;
					padding-bottom: 0px;
				}
				&.necess {
					background: url("../../img/tick-small-red.png") no-repeat 100% 58%;
				}
			}
		}
		th:first-child, td:first-child {
			border-left: none;
		}
		th {
			border-left: 1px solid $bd-c;
			overflow: visible;
			color: #444;
			text-align: center;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			.cell {
				font-weight: 700;
			}
			.cell.order-ui {
				cursor: pointer;
				&:after {
					content: "▼";
					position: relative;
					display: none;
					margin-left: 2px;
					font-size: 10px;
					color: #73787D;
				}
				&:hover:after {
					display: inline;
				}
				&.ascending:after {
					content: "▲";
				}
			}
		}
		td {
			border-left: 1px solid $bd-c;
			.cell {
				.chk-box, .rdo-box {
					input {
						margin-right: 3px;
					}
					& + .chk-box, & + .rdo-box {
						margin-left: 5px;
					}
				}
				.form-select {
					padding: 2px;
				}
			}
		}
	}
	.grid-scrollable-x {
		position: relative;
		@if $scr-wth != null {
			overflow-x: scroll;
			&:after {
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				display: block;
				height: 1px;
				width: $scr-wth;
				background: $bd-c;
			}
		} @else {
			overflow-x: hidden;
		}
	}
	.grid-area {
		position: relative;
		width: $scr-wth;
		&.grid-head {
			.grid-scrollable {
				width: $scr-wth;
				background: $bg-tblBase-th;
				border-bottom: 1px solid $bd-c;
			    background: url(../../img/gridheadBg.png) repeat-x;
			}
			.grid-tbl {
				@if $scr-wth != null {
					width: calc(#{$scr-wth} - 17px);
				} @else {
					width: -webkit-calc(#{$wth} - 17px);
					width: -moz-calc(#{$wth} - 17px);
					width: calc(#{$wth} - 17px);
				}
				th {
					border-bottom: none;
					background: url(../../img/gridheadBg.png) repeat-x;
				}
			}
		}
		&.grid-contents {
			overflow-y: scroll;
			height: 100px;
			background: #fff;
			background: $bg-tblBase;
			.grid-tbl {
				tr:hover {
					td {
						background: #dad3d0;
					}
				}
				tr:nth-child(2n) {
					th, td {
						background: #fbfbfb;
					}
				}
			}
		}
		&.grid-total {
			.grid-tbl {
				border-top: 1px solid $bor-gray-table;
				border-right: 0;
				th, td {
					background: #f5f5f5;
				}
				td {
					&.last  {
						.cell.inBl {
							display: inline-block;
						}
						.square {
							display: inline-block;
							float: right;
							height: 100%;
							padding: 0;
							border-left: 1px solid #c5c5c5;
							width: 17px;
							box-sizing: border-box;
						}
					}
				}
			}
		}
	}
}

// x측 스크롤 테이블 - gray 테마
@mixin grid-scr-x($scr-wth: 580px, $wth: 100%, $bd-r: null, $bd-c: $bor-gray-table) {
	width: $wth;
	border: 1px solid $bd-c;
	overflow: hidden;
	box-sizing: border-box;
	border-radius: $bd-r;
	$ie8-wth: 1740px;
	.grid-tbl {
		.ie8 & {
			width: $ie8-wth;
		}
		width: 100%;
		table-layout: fixed;
		border: none;
		border-right: 1px solid $bd-c;
		th, td {
			// min-height: 39px;
			height: 28px;
			border-bottom: 1px solid $bd-c;
			color: #666;
			font-size: 12px;
			.cell {
				position: relative;
				@include clearfix;
				padding: 3px 7px;
				&.pd-0 {
					padding-top: 0;
					padding-bottom: 0px;
				}
				&.necess {
					background: url("../../img/tick-small-red.png") no-repeat 100% 58%;
				}
			}
		}
		th:first-child, td:first-child {
			border-left: none;
		}
		th {
			border-left: 1px solid $bd-c;
			overflow: visible;
			color: #444;
			text-align: center;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			.cell {
				font-weight: 700;
			}
			.cell.order-ui {
				cursor: pointer;
				&:after {
					content: "▼";
					position: relative;
					display: none;
					// position: absolute;
					// top: -6px;
					// left: 50%;
					// margin-left: -5px;
					margin-left: 2px;
					font-size: 10px;
					color: #73787D;
				}
				&:hover:after {
					display: inline;
				}
				&.ascending:after {
					content: "▲";
				}
			}
		}
		td {
			border-left: 1px solid $bd-c;
			.cell {
				.chk-box, .rdo-box {
					input {
						margin-right: 3px;
					}
					& + .chk-box, & + .rdo-box {
						margin-left: 5px;
					}
				}
				.form-select {
					padding: 2px;
				}
			}
		}
	}
	.grid-scrollable-x {
		position: relative;
		@if $scr-wth != null {
			overflow-x: scroll;
			&:after {
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				display: block;
				height: 1px;
				width: $scr-wth;
				background: $bd-c;
			}
		} @else {
			overflow-x: hidden;
		}
	}
	.grid-area {
		position: relative;
		width: $scr-wth;
		&.grid-head {
			.grid-scrollable {
				width: $scr-wth;
				background: $bg-tblBase-th;
				border-bottom: 1px solid $bd-c;
			    background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.6)),to(rgba(255,255,255,0)));
			    background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.6) 0,rgba(255,255,255,0) 100%);
			    background-image: none,linear-gradient(to bottom,rgba(255,255,255,.6) 0,rgba(255,255,255,0) 100%);
			    background-position: 50% 50%;
			    background-color: #eae8e8;
			}
			.grid-tbl {
				@if $scr-wth != null {
					width: calc(#{$scr-wth} - 17px);
				} @else {
					width: -webkit-calc(#{$wth} - 17px);
					width: -moz-calc(#{$wth} - 17px);
					width: calc(#{$wth} - 17px);
				}
				th {
					border-bottom: none;
					background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.6)),to(rgba(255,255,255,0)));
					background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.6) 0,rgba(255,255,255,0) 100%);
					background-image: none,linear-gradient(to bottom,rgba(255,255,255,.6) 0,rgba(255,255,255,0) 100%);
					background-position: 50% 50%;
					background-color: #eae8e8;
				}
			}
		}
		&.grid-contents {
			overflow-y: scroll;
			height: 100px;
			background: #fff;
			.grid-tbl {
				tr:nth-child(2n) {
					th, td {
						background: #fbfbfb;
						background: #f1f1f1;
					}
				}
				tr:hover {
					td {
						background: #dad3d0;
					}
				}
			}
		}
		&.grid-total {
			.grid-tbl {
				border-top: 1px solid $bor-gray-table;
				border-right: 0;
				th, td {
					background: #f5f5f5;
				}
				td {
					&.last  {
						.cell.inBl {
							display: inline-block;
						}
						.square {
							display: inline-block;
							float: right;
							height: 100%;
							padding: 0;
							border-left: 1px solid #c5c5c5;
							width: 17px;
							box-sizing: border-box;
						}
					}
				}
			}
		}
	}
}

// 좌측 락 포함
@mixin grid-scr-x2($l-wth: 180px, $scr-wth: 580px, $wth: 100%, $bd-r: null, $bd-c: $bor-gray-table) {
	$gridContents-he: 613px;
	margin-top: 10px;
	border: 1px solid $bd-c;
	overflow: hidden;
	box-sizing: border-box;
	border-radius: $bd-r;
	$ie8-wth: 1740px;
	.grid-tbl {
		.ie8 & {
			width: $ie8-wth;
		}
		width: 100%;
		table-layout: fixed;
		border: none;
		border-right: 1px solid $bd-c;
		th, td {
			font-size: 12px;
			box-sizing: border-box;
			border-left: 1px solid $bd-c;
			border-bottom: 1px solid $bd-c;
			text-align: center;
			.cell {
				padding: 3px 7px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

		}
		th:first-child, td:first-child {
			border-left: none;
		}
		th {
			font-weight: 700;
			height: 33px;
			// border-bottom: none;
			border-bottom: none;
			background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.6)),to(rgba(255,255,255,0)));
			background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.6) 0,rgba(255,255,255,0) 100%);
			background-image: none,linear-gradient(to bottom,rgba(255,255,255,.6) 0,rgba(255,255,255,0) 100%);
			background-position: 50% 50%;
			background-color: #eae8e8;
			.cell.order-ui {
				cursor: pointer;
				&:after {
					content: "▼";
					position: relative;
					display: none;
					// position: absolute;
					// top: -6px;
					// left: 50%;
					// margin-left: -5px;
					margin-left: 2px;
					font-size: 10px;
					color: #73787D;
				}
				&:hover:after {
					display: inline;
				}
				&.ascending:after {
					content: "▲";
				}

			}
		}
		td {
			.cell {
				padding: 5px 7px;
				.chk-box, .rdo-box {
					input {
						margin-right: 3px;
					}
					& + .chk-box, & + .rdo-box {
						margin-left: 5px;
					}
				}
				.form-select {
					padding: 2px;
				}
			}
		}
		// 예외 tr 부터 들어감
		tr {
			&:first-child {
				th {
					border-bottom: 1px solid $bd-c;
				}
			}
			&:last-child {
				td {
//							border-bottom: none;
				}
			}
		}
	}
	.grid-locked, .scr-wrap {
		@include float;
	}
	.scr-wrap {
		width: -webkit-calc(100% - #{$l-wth});
		width: -moz-calc(100% - #{$l-wth});
		width: calc(100% - #{$l-wth});
		box-sizing: border-box;
		border-left: 1px solid $bd-c;
		@if $scr-wth != null {
			overflow-x: scroll;
			&:after {
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				display: block;
				height: 1px;
				width: $scr-wth;
				background: $bd-c;
			}
		} @else {
			overflow-x: hidden;
		}
//		overflow-y: scroll;
		.grid-scrollable-x {
			position: relative;
			width: $scr-wth;
		}
	}
	.grid-area {
		position: relative;
		&.grid-locked {
			width: $l-wth;
			.grid-tbl {
				.rowgroup {
					> tr {
						th {
							border-bottom: 1px solid $bd-c;
							&.locked {
								height: 66px;
							}
						}
					}
				}
			}
		}
		&.grid-head {
			width: 100%;
			.grid-scrollable {
				width: $scr-wth;
				background: $bg-tblBase-th;
				border-bottom: 1px solid $bd-c;
			    background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.6)),to(rgba(255,255,255,0)));
			    background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.6) 0,rgba(255,255,255,0) 100%);
			    background-image: none,linear-gradient(to bottom,rgba(255,255,255,.6) 0,rgba(255,255,255,0) 100%);
			    background-position: 50% 50%;
			    background-color: #eae8e8;
			}
			.grid-tbl {
				@if $scr-wth != null {
					width: calc(#{$scr-wth} - 17px);
				} @else {
					width: -webkit-calc(#{$wth} - 17px);
					width: -moz-calc(#{$wth} - 17px);
					width: calc(#{$wth} - 17px);
				}
				.rowgroup {

				}
			}
		}
		&.grid-contents {
			overflow-y: scroll;
			height: $gridContents-he;
			.grid-scrollable {

			}
			.grid-tbl {
			}
		}
	}
} // .grie-wrap

// 좌측 락 포함 + 우측 스크롤바
@mixin grid-scr-x2r($l-wth: 180px, $scr-wth: 580px, $wth: 100%, $bd-r: null, $bd-c: $bor-gray-table) {
//	$scr-wth: $scr;
	$gridContents-he: 613px;
	$gridContents-he: 213px;
	margin-top: 10px;
	border: 1px solid $bd-c;
	overflow: hidden;
//	width: $scr-wth;
	border-radius: $bd-r;

	.grid-locked, .scr-wrap {
		@include float;
	}
	.grid-area.grid-locked {
		width: $l-wth;
		.grid-tbl {
			.rowgroup {
				> tr {
					th {
						border-bottom: 1px solid $bd-c;
						&.locked {
							height: 66px;
						}
					}
				}
			}
		}
	}
	.scr-wrap {
		width: -webkit-calc(100% - #{$l-wth});
		width: -moz-calc(100% - #{$l-wth});
		width: calc(100% - #{$l-wth});
		box-sizing: border-box;
		border-left: 1px solid $bd-c;
		@if $scr-wth != null {
			overflow-x: scroll;
			&:after {
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				display: block;
				height: 1px;
				width: $scr-wth;
				background: $bd-c;
			}
		} @else {
			overflow-x: hidden;
		}
		overflow-y: scroll;
		.grid-scrollable-x {
			position: relative;
			width: $scr-wth;
		}
	}
	.grid-area {
		position: relative;
		// width: 560px;
//		width: $scr-wth;
		&.grid-head {
			width: 100%;
			.grid-scrollable {
				width: $scr-wth;
				background: $bg-tblBase-th;
				border-bottom: 1px solid $bd-c;
			    background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.6)),to(rgba(255,255,255,0)));
			    background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.6) 0,rgba(255,255,255,0) 100%);
			    background-image: none,linear-gradient(to bottom,rgba(255,255,255,.6) 0,rgba(255,255,255,0) 100%);
			    background-position: 50% 50%;
			    background-color: #eae8e8;
			}
			.grid-tbl {
//				@if $scr-wth != null {
//					width: calc(#{$scr-wth} - 17px);
//				} @else {
//					width: -webkit-calc(#{$wth} - 17px);
//					width: -moz-calc(#{$wth} - 17px);
//					width: calc(#{$wth} - 17px);
//				}
				.rowgroup {

				}
			}
		}
		&.grid-contents {
//			overflow-y: scroll;
			height: $gridContents-he;
//			background: $bg-tblBase;
			.grid-scrollable {

			}
			.grid-tbl {
			}
		}
		.grid-tbl {
			width: 100%;
			table-layout: fixed;
			border: none;
			border-right: 1px solid $bd-c;
			th, td {
				position: relative;
				font-size: 12px;
				box-sizing: border-box;
				border-left: 1px solid $bd-c;
				border-bottom: 1px solid $bd-c;
				text-align: center;
				.cell {
					padding: 3px 7px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}

			}
			th:first-child, td:first-child {
				border-left: none;
			}
			th {
				height: 33px;
				// border-bottom: none;
				border-bottom: none;
				background-image: none,-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.6)),to(rgba(255,255,255,0)));
				background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,.6) 0,rgba(255,255,255,0) 100%);
				background-image: none,linear-gradient(to bottom,rgba(255,255,255,.6) 0,rgba(255,255,255,0) 100%);
				background-position: 50% 50%;
				background-color: #eae8e8;
				.cell.order-ui {
					cursor: pointer;
					&:after {
						content: "▼";
						position: relative;
						display: none;
						// position: absolute;
						// top: -6px;
						// left: 50%;
						// margin-left: -5px;
						margin-left: 2px;
						font-size: 10px;
						color: #73787D;
					}
					&:hover:after {
						display: inline;
					}
					&.ascending:after {
						content: "▲";
					}

				}
			}
			td {
				.cell {
					padding: 5px 7px;
					.chk-box, .rdo-box {
						input {
							margin-right: 3px;
						}
						& + .chk-box, & + .rdo-box {
							margin-left: 5px;
						}
					}
					.form-select {
						padding: 2px;
					}
				}
			}
			// 예외 tr 부터 들어감
			tr {
				&:first-child {
					th {
						border-bottom: 1px solid $bd-c;
					}
				}
				&:last-child {
					td {
	//							border-bottom: none;
					}
				}
			}
		}
	}
} // .grie-wrap


// 이전 mixins

// 기존 버튼, 그리드
@mixin btn-default($fz: 14px, $pd: 4px 12px) {
	display: inline-block;
    font-size: $fz;
	padding: $pd;
	box-sizing: border-box;
    margin-bottom: 0;
    line-height: 20px;
    color: #333333;
    text-align: center;
//    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    font-family: $font-ntss;
}
// 그리드 스타일1
@mixin grid-wrap-style1 {
	margin-top: 5px;
	font-size: 12px;
	$grid-bor-1: 1px solid $bor-gray-table;
	.grid-area {
		.grid-tbl {
			border-collapse: collapse;
			width: 100%;
			border-top: 2px solid $bor-gray-tableTop;
			tr {
				th, td {
					position: relative;
					border-left: $grid-bor-1;
					border-bottom: $grid-bor-1;
					box-sizing: border-box;
					padding: 8px;
					padding-top: 8px;
					padding-bottom: 7px;
					vertical-align: middle;
					line-height: normal;
					&:first-child {
						border-left: 0;
					}
				}
				&.division {
					th, td {
						border: $grid-bor-1;
						border-color: $grid-bor-division;
						padding: 0;
						line-height: 0;
					}
				}
				th {
					background: #f4f5f7;
				}
				&:nth-child(2n) {
//					background: #f1f1f1;
				}
				td {
					padding-top: 6px;
					padding-bottom: 6px;
					&.nothing {
						padding: 15px 8px;
					}
				}
			}
		}
	}
}
// 페이지 버튼
@mixin pagenation {
	margin-top: 20px;
	font-family: $font-ntss;
	text-align: center;
	font-size: 0;
	a {
		display: inline-block;
		font-size: 13px;
		width: 32px;
		height: 32px;
		vertical-align: middle;
		line-height: 33px;
		border: 1px solid #ccc;
		color: #919191;
		font-family: "Nanum Gothic";
		font-weight: 600;
		margin-left: 2px;
		margin-right: 2px;
		&:hover {
			border: 1px solid #000;
			color: #000;
		}
	}
	a[class*="prev"], a[class*="next"] {
		font-size: 12px;
		line-height: 32px;
		letter-spacing: -2px;
	}
	a.on {
		border: 1px solid #000;
		color: #000;
	}
	a.prev {
		text-indent: -4px;
	}
	a.pprev {
		text-indent: -3px;
	}
	a.next {
		text-indent: 1px;
	}
}
