@@include('../include/_head.html', {
	"page": "cashier"
})

<!-- 페이지 전용 -->

<body class="page-cashier">

@@include('../include/pop/pop_rsv.html')

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="cf contents advDeposit-contents">

		@@include('../include/_row_h2.html', {
			"page-title": "예치금"
		})

		<div class="cf cont-container-f">
			<div class="cont-property">
				<div class="grid-wrap">
					<div class="grid-contents">
						<table class="grid-tbl tbl-property">
							<colgroup>
								<col style="width:90px">
								<col style="width:200px">
								<col style="width:100px">
								<col style="width:250px">
								<col style="width:90px">
								<col style="width:250px">
								<col style="width:100px">
								<col style="width:*">
							</colgroup>
							<tbody>
								<tr>
									<th><div class="cell">속성</div></th>
									<td>
										<div class="cell">
											<select name="" id="" class="form-select property">
												<option value="">Ramadapt</option>
											</select>
										</div>
									</td>
									<th><div class="cell">보증금 날짜</div></th>
									<td>
										<div class="cell">
											<span class="cal-box">
												<input type="text" class="appe-reset inp-cal date-ui">
												<span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
											</span>
											<span class="mg-">~</span>
											<span class="cal-box">
												<input type="text" class="appe-reset inp-cal date-ui">
												<span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
											</span>
										</div>
									</td>
									<th><div class="cell">도착 날짜</div></th>
									<td>
										<div class="cell">
											<span class="cal-box">
												<input type="text" class="appe-reset inp-cal date-ui">
												<span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
											</span>
											<span class="mg-">~</span>
											<span class="cal-box">
												<input type="text" class="appe-reset inp-cal date-ui">
												<span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
											</span>
										</div>
									</td>
									<th><div class="cell">예약 날짜</div></th>
									<td>
										<div class="cell">
											<span class="cal-box">
												<input type="text" class="appe-reset inp-cal date-ui">
												<span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
											</span>
											<span class="mg-">~</span>
											<span class="cal-box">
												<input type="text" class="appe-reset inp-cal date-ui">
												<span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
											</span>
										</div>
									</td>
								</tr>

								<tr>
									<th><div class="cell">계정</div></th>
									<td>
										<div class="cell">
											<select name="" id="" class="form-select w-1">
												<option value=""></option>
												<option value="">(주) 오네가</option>
												<option value="">(주) 동원홈푸드</option>
											</select>
										</div>
									</td>
									<th><div class="cell">예약 번호</div></th>
									<td>
										<div class="cell">
											<input type="text" class="form-input w-1">
										</div>
									</td>
									<th><div class="cell">이름</div></th>
									<td>
										<div class="cell">
											<input type="text" class="form-input w-1">
										</div>
									</td>
									<td colspan="2">
										<div class="cell">
											<span class="rdo-box"><label><input type="radio" name="rdo-1">non C/In</label></span>
											<span class="rdo-box"><label><input type="radio" name="rdo-1">C/In</label></span>
											<span class="rdo-box"><label><input type="radio" name="rdo-1">All</label></span>
											<button type="button" class="btn-brown search">SEARCH</button>
											<button type="button" class="btn-brown">CLEAR</button>
											<div class="pull-right">
												<button type="button" class="btn-gray btn-i"><span class="icon ic-excel"></span>Excel</button>
												<button type="button" class="btn-gray btn-i"><span class="icon ic-pdf"></span>PDF</button>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- //.cont-property -->

			<div class="cont-list">
				<div class="grid-wrap scr-wrap">
					<div class="grid-scrollable-x">
						<div class="grid-area grid-head">
							<div class="grid-scrollable">
								<table class="grid-tbl">
									<colgroup>
										<col style="width:85px">
										<col style="width:90px">
										<col style="width:120px">
										<col style="width:150px">
										<col style="width:60px">
										<col style="width:60px">
										<col style="width:90px">
										<col style="width:40px">
										<col style="width:90px">
										<col style="width:40px">
										<col style="width:120px">
										<col style="width:90px">
										<col style="width:120px">
										<col style="width:120px">
										<col style="width:120px">
										<col style="width:120px">
										<col style="width:100px">
									</colgroup>
									<thead class="rowgroup">
										<tr>
											<th><div class="cell">예약 번호</div></th>
											<th><div class="cell">예약 날짜</div></th>
											<th><div class="cell">Agent</div></th>
											<th><div class="cell">게스트</div></th>
											<th><div class="cell">객실 유형</div></th>
											<th><div class="cell">GRP / FIT</div></th>
											<th><div class="cell">도착 날짜</div></th>
											<th><div class="cell">Nts</div></th>
											<th><div class="cell">출발 날짜</div></th>
											<th><div class="cell">Rms</div></th>
											<th><div class="cell">총액</div></th>
											<th><div class="cell">보증금 날짜</div></th>
											<th><div class="cell">입금 금액</div></th>
											<th><div class="cell">예금 잔고</div></th>
											<th><div class="cell">C / I 전송</div></th>
											<th><div class="cell">방법</div></th>
											<th><div class="cell">CC 유형</div></th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
						<div class="grid-area grid-contents">
							<table class="grid-tbl">
								<colgroup>
									<col style="width:85px">
									<col style="width:90px">
									<col style="width:120px">
									<col style="width:150px">
									<col style="width:60px">
									<col style="width:60px">
									<col style="width:90px">
									<col style="width:40px">
									<col style="width:90px">
									<col style="width:40px">
									<col style="width:120px">
									<col style="width:90px">
									<col style="width:120px">
									<col style="width:120px">
									<col style="width:120px">
									<col style="width:120px">
									<col style="width:100px">
								</colgroup>
								<tbody class="rowgroup">
									<tr>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="grid-area grid-total">
							<table class="grid-tbl">
								<colgroup>
									<col style="width:85px">
									<col style="width:90px">
									<col style="width:120px">
									<col style="width:150px">
									<col style="width:60px">
									<col style="width:60px">
									<col style="width:90px">
									<col style="width:40px">
									<col style="width:90px">
									<col style="width:40px">
									<col style="width:120px">
									<col style="width:90px">
									<col style="width:120px">
									<col style="width:120px">
									<col style="width:120px">
									<col style="width:120px">
									<col style="width:100px">
								</colgroup>
								<tbody class="rowgroup">
									<tr>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td><div class="cell"></div></td>
										<td class="ta-left fw-b"><div class="cell">합계 : 0</div></td>
										<td><div class="cell"></div></td>
										<td class="ta-left fw-b"><div class="cell">합계 : 0</div></td>
										<td class="ta-left fw-b"><div class="cell">합계 : 0</div></td>
										<td class="ta-left fw-b"><div class="cell">합계 : 0</div></td>
										<td><div class="cell"></div></td>
										<td class="last"><div class="cell inBl"></div><span class="square"></span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- //.grid-wrap -->
				<div class="cf grid-bottom">
					<a href="#" class="prev st">&lt;&lt;</a>
					<a href="#" class="prev">&lt;</a>
					<span class="num">0</span>
					<a href="#" class="next">&gt;</a>
  					<a href="#" class="next st">&gt;&gt;</a>
					<span class="count">1 - 100 of 158 items</span>
				</div>
				<!-- //.grid-bottom-->
			</div>
			<!-- //.cont-list -->
		</div>
	</div>
	<!-- //.contents -->

</div>

</body>
</html>
