@@include('../include/_head.html', {
	"page": "cashier"
})

<!-- 페이지 전용 -->

<body class="page-cashier">

<!-- @@include('../include/pop/pop_rsv.html') -->

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="cf contents cashier-contents">

		@@include('../include/_row_h2.html', {
			"page-title": "C/L 계산원"
		})

		<div class="cf cont-container-f">
			<div class="cont-area area-1">
				<div class="cont-property">
					<div class="grid-wrap">
						<div class="grid-contents">
							<table class="grid-tbl tbl-property">
								<colgroup>
									<col style="width:90px">
									<col style="width:400px">
									<col style="width:90px">
									<col style="width:150px">
									<col style="width:*">
								</colgroup>
								<tbody>
									<tr>
										<th><div class="cell">날짜</div></th>
										<td>
											<div class="cell">
												<span class="cal-box">
													<input type="text" class="appe-reset inp-cal date-ui">
													<span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
												</span>
												<span class="mg-">~</span>
												<span class="cal-box">
													<input type="text" class="appe-reset inp-cal date-ui">
													<span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
												</span>
											</div>
										</td>
										<th><div class="cell">계정</div></th>
										<td>
											<div class="cell">
												<input type="text" class="form-input">
											</div>
										</td>
										<td>
											<div class="cell">
												<button type="button" class="btn-brown">SEARCH</button>
												<button type="button" class="btn-brown">CLEAR</button>
												<div class="pull-right">
													<button type="button" class="btn-gray btn-i"><span class="icon ic-excel"></span>Excel</button>
													<button type="button" class="btn-gray btn-i"><span class="icon ic-pdf"></span>PDF</button>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- //.cont-property -->

				<div class="cont-list">
					<div class="grid-wrap scr-wrap">
						<div class="grid-scrollable-x">
							<div class="grid-area grid-head">
								<div class="grid-scrollable">
									<table class="grid-tbl">
										<colgroup>
											<col style="width:230px">
											<col style="width:230px">
											<col style="width:185px">
											<col style="width:185px">
											<col style="width:185px">
											<col style="width:185px">
											<col style="width:185px">
											<col style="width:185px">
											<col style="width:*">
										</colgroup>
										<thead class="rowgroup">
											<tr>
												<th rowspan="2"><div class="cell">계정</div></th>
												<th rowspan="2"><div class="cell">시장</div></th>
												<th rowspan="2"><div class="cell">Receivable</div></th>
												<th rowspan="2"><div class="cell">Occurrence</div></th>
												<th colspan="4" class="bor"><div class="cell">Paid</div></th>
												<th rowspan="2"><div class="cell">Balance</div></th>
											</tr>
											<tr>
												<th><div class="cell">Total</div></th>
												<th><div class="cell">Received</div></th>
												<th><div class="cell">Free</div></th>
												<th><div class="cell">Difference</div></th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
							<div class="grid-area grid-contents">
								<table class="grid-tbl">
									<colgroup>
										<col style="width:230px">
										<col style="width:230px">
										<col style="width:185px">
										<col style="width:185px">
										<col style="width:185px">
										<col style="width:185px">
										<col style="width:185px">
										<col style="width:185px">
										<col style="width:*">
									</colgroup>
									<tbody class="rowgroup">
										<tr>
											<td><div class="cell">개인</div></td>
											<td><div class="cell">walk in</div></td>
											<td class="ta-right fw-b"><div class="cell">100,000</div></>
											<td class="ta-right co-red fw-b"><div class="cell">0</div></td>
											<td class="ta-right co-blue fw-b"><div class="cell">0</div></td>
											<td class="ta-right co-blue fw-b"><div class="cell">0</div></>
											<td class="ta-right co-blue fw-b"><div class="cell">0</div></td>
											<td class="ta-right co-blue fw-b"><div class="cell">0</div></td>
											<td class="ta-right"><div class="cell">100,000</div></td>
										</tr>
										<tr>
											<td><div class="cell">개인</div></td>
											<td><div class="cell">walk in</div></td>
											<td class="ta-right fw-b"><div class="cell">100,000</div></>
											<td class="ta-right co-red fw-b"><div class="cell">0</div></td>
											<td class="ta-right co-blue fw-b"><div class="cell">0</div></td>
											<td class="ta-right co-blue fw-b"><div class="cell">0</div></>
											<td class="ta-right co-blue fw-b"><div class="cell">0</div></td>
											<td class="ta-right co-blue fw-b"><div class="cell">0</div></td>
											<td class="ta-right"><div class="cell">100,000</div></td>
										</tr>
										<tr>
											<td><div class="cell">개인</div></td>
											<td><div class="cell">walk in</div></td>
											<td class="ta-right fw-b"><div class="cell">100,000</div></>
											<td class="ta-right co-red fw-b"><div class="cell">0</div></td>
											<td class="ta-right co-blue fw-b"><div class="cell">0</div></td>
											<td class="ta-right co-blue fw-b"><div class="cell">0</div></>
											<td class="ta-right co-blue fw-b"><div class="cell">0</div></td>
											<td class="ta-right co-blue fw-b"><div class="cell">0</div></td>
											<td class="ta-right"><div class="cell">100,000</div></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="grid-area grid-total">
								<table class="grid-tbl">
									<colgroup>
										<col style="width:230px">
										<col style="width:230px">
										<col style="width:185px">
										<col style="width:185px">
										<col style="width:185px">
										<col style="width:185px">
										<col style="width:185px">
										<col style="width:185px">
										<col style="width:*">
									</colgroup>
									<tbody class="rowgroup">
										<tr>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td class="ta-right fw-b"><div class="cell">591,380,569</div></>
											<td class="ta-right co-red fw-b"><div class="cell">231,730</div></td>
											<td class="ta-right co-blue fw-b"><div class="cell">0</div></td>
											<td class="ta-right co-blue fw-b"><div class="cell">0</div></>
											<td class="ta-right co-blue fw-b"><div class="cell">0</div></td>
											<td class="ta-right co-blue fw-b"><div class="cell">0</div></td>
											<td class="ta-right fw-b last"><div class="cell inBl">591,612,299</div><span class="square"></span></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- //.grid-wrap -->
				</div>
				<!-- //.cont-list -->
			</div>

			<div class="cont-area area-2">
				<div class="cont-property">
					<div class="grid-wrap">
						<div class="grid-contents">
							<table class="grid-tbl tbl-property">
								<colgroup>
									<col style="width:90px">
									<col style="width:200px">
									<col style="width:90px">
									<col style="width:380px">
									<col style="width:90px">
									<col style="width:200px">
									<col style="width:*">
								</colgroup>
								<tbody>
									<tr>
										<th><div class="cell">계정</div></th>
										<td>
											<div class="cell"></div>
										</td>
										<th><div class="cell">발생 날짜</div></th>
										<td>
											<div class="cell">
												<span class="cal-box">
													<input type="text" class="appe-reset inp-cal date-ui">
													<span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
												</span>
												<span class="mg-">~</span>
												<span class="cal-box">
													<input type="text" class="appe-reset inp-cal date-ui">
													<span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
												</span>
												<button type="button" class="btn-brown">ALL</button>
											</div>
										</td>
										<td colspan="3">
											<div class="cell">
												<span class="rdo-box"><label><input type="radio" name="rdo-1">미회수</label></span>
												<span class="rdo-box"><label><input type="radio" name="rdo-1">회수</label></span>
												<span class="rdo-box"><label><input type="radio" name="rdo-1">전체</label></span>
												<div class="pull-right">
													<button type="button" class="btn-gray btn-i"><span class="icon ic-excel"></span>Excel</button>
													<button type="button" class="btn-gray btn-i"><span class="icon ic-pdf"></span>PDF</button>
												</div>
											</div>
										</td>
									</tr>

									<tr>
										<th><div class="cell">게스트</div></th>
										<td>
											<div class="cell"><input type="text" class="form-input"></div>
										</td>
										<th><div class="cell">옵션</div></th>
										<td>
											<div class="cell">
												<span class="cal-box">
													<input type="text" class="appe-reset inp-cal date-ui">
													<span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
												</span>
												<span class="mg-">~</span>
												<span class="cal-box">
													<input type="text" class="appe-reset inp-cal date-ui">
													<span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
												</span>
												<select name="" id="" class="form-select option">
													<option value="">Arr.Date</option>
													<option value="" selected>Dep.Date</option>
													<option value="">Paid.Date</option>
												</select>
											</div>
										</td>
										<th><div class="cell">게스트</div></th>
										<td>
											<div class="cell"><input type="text" class="form-input"></div>
										</td>
										<td>
											<div class="cell">
												<button type="button" class="btn-brown">SEARCH</button>
												<button type="button" class="btn-brown">CLEAR</button>
												<div class="pull-right">
													<button type="button" class="btn-blue">Apply</button>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- //.cont-property -->

				<div class="cont-list">
					<div class="grid-wrap scr-wrap">
						<div class="grid-scrollable-x">
							<div class="grid-area grid-head">
								<div class="grid-scrollable">
									<table class="grid-tbl">
										<colgroup>
											<col style="width:180px">
											<col style="width:90px">
											<col style="width:120px">
											<col style="width:120px">
											<col style="width:120px">
											<col style="width:120px">
											<col style="width:60px">
											<col style="width:120px">
											<col style="width:120px">
											<col style="width:120px">
											<col style="width:120px">
											<col style="width:90px">
											<col style="width:225px">
											<col style="width:60px">
											<col style="width:*">
										</colgroup>
										<thead class="rowgroup">
											<tr>
												<th><div class="cell">게스트</div></th>
												<th><div class="cell">객실#</div></th>
												<th><div class="cell">도착 날짜</div></th>
												<th><div class="cell">출발 날짜</div></th>
												<th><div class="cell">Chk#</div></th>
												<th><div class="cell">Folio#</div></th>
												<th><div class="cell">Occur</div></th>
												<th><div class="cell">Occur.Date</div></th>
												<th><div class="cell">Occurrence</div></th>
												<th><div class="cell">Paid Date</div></th>
												<th><div class="cell">Paid</div></th>
												<th><div class="cell">Receiver</div></th>
												<th><div class="cell">Description</div></th>
												<th><div class="cell"><input type="checkbox"></div></th>
												<th><div class="cell">Action</div></th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
							<div class="grid-area grid-contents">
								<table class="grid-tbl">
									<colgroup>
										<col style="width:180px">
										<col style="width:90px">
										<col style="width:120px">
										<col style="width:120px">
										<col style="width:120px">
										<col style="width:120px">
										<col style="width:60px">
										<col style="width:120px">
										<col style="width:120px">
										<col style="width:120px">
										<col style="width:120px">
										<col style="width:90px">
										<col style="width:225px">
										<col style="width:60px">
										<col style="width:*">
									</colgroup>
									<tbody class="rowgroup">
										<tr>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td class="ta-center"><div class="cell"><input type="checkbox"></div></td>
											<td><div class="cell"></div></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="grid-area grid-total">
								<table class="grid-tbl">
									<colgroup>
										<col style="width:180px">
										<col style="width:90px">
										<col style="width:120px">
										<col style="width:120px">
										<col style="width:120px">
										<col style="width:120px">
										<col style="width:60px">
										<col style="width:120px">
										<col style="width:120px">
										<col style="width:120px">
										<col style="width:120px">
										<col style="width:90px">
										<col style="width:225px">
										<col style="width:60px">
										<col style="width:*">
									</colgroup>
									<tbody class="rowgroup">
										<tr>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td class="ta-right fw-b"><div class="cell">0</div></td>
											<td><div class="cell"></div></td>
											<td class="ta-right fw-b"><div class="cell">0</div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td class="last"><div class="cell inBl"></div><span class="square"></span></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- //.grid-wrap -->
				</div>
				<!-- //.cont-list -->
			</div>

			<div class="row-btn">
				<button type="button" class="btn-gray" disabled>PAYMENT</button>
			</div>
		</div>
	</div>
	<!-- //.contents -->

</div>

</body>
</html>
