@@include('../include/_head.html', {
	"page": "cashier"
})

<!-- 페이지 전용 -->

<body class="page-cashier">

@@include('../include/pop/pop_rsv.html')

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="cf contents cshClose-contents">

		@@include('../include/_row_h2.html', {
			"page-title": "Cashier Close"
		})

		<div class="cf cont-container-f fn-tabShow">
			<div class="cont-property">
				<div class="grid-wrap">
					<div class="grid-contents">
						<table class="grid-tbl tbl-property">
							<colgroup>
								<col style="width:90px">
								<col style="width:250px">
								<col style="width:90px">
								<col style="width:*">
							</colgroup>
							<tbody>
								<tr>
									<th><div class="cell">날짜</div></th>
									<td>
										<div class="cell">
											<span class="cal-box">
												<input type="text" class="appe-reset inp-cal date-ui">
												<span class="i-cal"><img src="../../public/img/icon/cal.png" alt="달력"></span>
											</span>
											<button type="button" class="btn-brown search">SEARCH</button>
										</div>
									</td>
									<th><div class="cell">보고서</div></th>
									<td>
										<div class="cell">
											<select name="" id="" class="form-select report">
												<option value="">Manager Report</option>
												<option value="">Detail Bill List</option>
												<option value="">Detail Payment List</option>
												<option value="">Guest Ledger</option>
											</select>
											<span class="rdo-box"><label><input type="radio" name="rdo-1">Pdf print</label></span>
											<span class="rdo-box"><label><input type="radio" name="rdo-1">Excel down</label></span>
											<button type="button" class="btn-gray action" disabled>ACTION</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- //.cont-property -->

			<div class="cf tab-list">
				<a href="javascript:;" class="tab">계산원 요약</a>
				<a href="javascript:;" class="tab">일일 청구서</a>
				<a href="javascript:;" class="tab">일일 결제</a>
				<a href="javascript:;" class="tab">크레디트</a>
				<a href="javascript:;" class="tab">실</a>
				<a href="javascript:;" class="tab">엑스트라</a>
				<a href="javascript:;" class="tab">교환</a>
				<a href="javascript:;" class="tab">시설</a>
			</div>
			<!-- /.tab-list -->
			<div class="item-list">
				<div class="item-container summary">
					<h3>
						<span class="t">Option</span>
						<span class="rdo-box"><label><input type="radio" name="rdo-1" checked>Summary</label></span>
						<span class="rdo-box"><label><input type="radio" name="rdo-1">Detail</label></span>
					</h3>

					<div class="grid-toolbar">
						<button type="button" class="btn-gray"><span class="icon ic-excel"></span> Export to Excel</button>
					</div>
					<!-- /.grid-toolbar -->
					<div class="grid-wrap scr-wrap">
						<div class="grid-scrollable-x">
							<div class="grid-area grid-head">
								<div class="grid-scrollable">
									<table class="grid-tbl">
										<colgroup>
											<col style="width:60px">
											<col style="width:60px">
											<col style="width:100px">
											<col style="width:80px">
											<col style="width:80px">
											<col style="width:80px">
											<col style="width:100px">
											<col style="width:100px">
											<col style="width:100px">
											<col style="width:80px">
											<col style="width:80px">
											<col style="width:100px">
											<col style="width:60px">
											<col style="width:110px">
											<col style="width:150px">
											<col style="width:100px">
											<col style="width:*">
										</colgroup>
										<thead class="rowgroup">
											<tr>
												<th class="bor" colspan="2"><div class="cell">출납원</div></th>
												<th class="bor" colspan="5"><div class="cell">현금</div></th>
												<th class="bor" colspan="4"><div class="cell">현금 제외</div></th>
												<th rowspan="2"><div class="cell">합계</div></th>
												<th class="bor" colspan="5"><div class="cell">상세 정보</div></th>
											</tr>
											<tr>
												<th><div class="cell">신분증</div></th>
												<th><div class="cell">이름</div></th>
												<th><div class="cell">현금</div></th>
												<th><div class="cell">현금(Adv.)</div></th>
												<th><div class="cell">유급</div></th>
												<th><div class="cell">환불금</div></th>
												<th><div class="cell">소계</div></th>
												<th><div class="cell">카드</div></th>
												<th><div class="cell">C / L</div></th>
												<th><div class="cell">G / L</div></th>
												<th><div class="cell">카드(Adv.)</div></th>
												<th><div class="cell">발행물</div></th>
												<th><div class="cell">Rsv / Chk</div></th>
												<th><div class="cell">손님</div></th>
												<th><div class="cell">도착 / 출발</div></th>
												<th><div class="cell">객실#</div></th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
							<div class="grid-area grid-contents">
								<table class="grid-tbl">
									<colgroup>
										<col style="width:60px">
										<col style="width:60px">
										<col style="width:100px">
										<col style="width:80px">
										<col style="width:80px">
										<col style="width:80px">
										<col style="width:100px">
										<col style="width:100px">
										<col style="width:100px">
										<col style="width:80px">
										<col style="width:80px">
										<col style="width:100px">
										<col style="width:60px">
										<col style="width:110px">
										<col style="width:150px">
										<col style="width:100px">
										<col style="width:*">
									</colgroup>
									<tbody class="rowgroup">
										<tr>
											<td><div class="cell">김민경</div></td>
											<td><div class="cell">김민경</div></td>
											<td class="ta-right co-blue"><div class="cell">0</div></td>
											<td class="ta-right co-blue"><div class="cell">0</div></td>
											<td class="ta-right co-red"><div class="cell">0</div></td>
											<td class="ta-right co-red"><div class="cell">0</div></td>
											<td class="ta-right"><div class="cell">0</div></td>
											<td class="ta-right co-green"><div class="cell">2,240,000</div></td>
											<td class="ta-right co-green"><div class="cell">152,910</div></td>
											<td class="ta-right co-green"><div class="cell">0</div></td>
											<td class="ta-right co-green"><div class="cell">0</div></td>
											<td class="ta-right"><div class="cell">2,392,910</div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="grid-area grid-total">
								<table class="grid-tbl">
									<colgroup>
										<col style="width:60px">
										<col style="width:60px">
										<col style="width:100px">
										<col style="width:80px">
										<col style="width:80px">
										<col style="width:80px">
										<col style="width:100px">
										<col style="width:100px">
										<col style="width:100px">
										<col style="width:80px">
										<col style="width:80px">
										<col style="width:100px">
										<col style="width:60px">
										<col style="width:110px">
										<col style="width:150px">
										<col style="width:100px">
										<col style="width:*">
									</colgroup>
									<tbody class="rowgroup">
										<tr>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td class="ta-right fw-b co-blue"><div class="cell">0</div></td>
											<td class="ta-right fw-b co-blue"><div class="cell">0</div></td>
											<td class="ta-right fw-b co-red"><div class="cell">0</div></td>
											<td class="ta-right fw-b co-red"><div class="cell">0</div></td>
											<td class="ta-right fw-b"><div class="cell">0</div></td>
											<td class="ta-right fw-b co-green"><div class="cell">2,240,000</div></td>
											<td class="ta-right fw-b co-green"><div class="cell">152,910</div></td>
											<td class="ta-right fw-b co-green"><div class="cell">0</div></td>
											<td class="ta-right fw-b co-green"><div class="cell">0</div></td>
											<td class="ta-right fw-b"><div class="cell">2,392,910</div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td class="last"><div class="cell inBl"></div><span class="square"></span></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- //.grid-wrap -->
					<div class="cf grid-bottom">
						<a href="#" class="prev st">&lt;&lt;</a>
						<a href="#" class="prev">&lt;</a>
						<span class="num">0</span>
						<a href="#" class="next">&gt;</a>
						<a href="#" class="next st">&gt;&gt;</a>
						<span class="count">1 - 100 of 158 items</span>
					</div>
					<!-- //.grid-bottom-->
				</div>
				<!-- /.summary -->
				<div class="item-container on dailyBill">

					<div class="grid-toolbar">
						<button type="button" class="btn-gray"><span class="icon ic-excel"></span> Export to Excel</button>
					</div>
					<!-- /.grid-toolbar -->
					<div class="grid-wrap scr-wrap">
						<div class="grid-scrollable-x">
							<div class="grid-area grid-head">
								<div class="grid-scrollable">
									<table class="grid-tbl">
										<colgroup>
											<col style="width:100px">
											<col style="width:120px">
											<col style="width:215px">
											<col style="width:215px">
											<col style="width:120px">
											<col style="width:70px">
											<col style="width:240px">
											<col style="width:180px">
											<col style="width:120px">
											<col style="width:120px">
											<col style="width:120px">
											<col style="width:60px">
											<col style="width:*">
										</colgroup>
										<thead class="rowgroup">
											<tr>
												<th><div class="cell">출납원</div></th>
												<th><div class="cell">항목</div></th>
												<th><div class="cell">계산서</div></th>
												<th><div class="cell">Posting</div></th>
												<th><div class="cell">계정 #</div></th>
												<th><div class="cell">객실 #</div></th>
												<th><div class="cell">손님 이름</div></th>
												<th><div class="cell">Agent</div></th>
												<th><div class="cell">R-rate</div></th>
												<th><div class="cell">Amount</div></th>
												<th><div class="cell">Vat</div></th>
												<th><div class="cell">수량</div></th>
												<th><div class="cell">요금</div></th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
							<div class="grid-area grid-contents">
								<table class="grid-tbl">
									<colgroup>
										<col style="width:100px">
										<col style="width:120px">
										<col style="width:215px">
										<col style="width:215px">
										<col style="width:120px">
										<col style="width:70px">
										<col style="width:240px">
										<col style="width:180px">
										<col style="width:120px">
										<col style="width:120px">
										<col style="width:120px">
										<col style="width:60px">
										<col style="width:*">
									</colgroup>
									<tbody class="rowgroup">
										<tr>
											<td><div class="cell">김민경</div></td>
											<td><div class="cell">방</div></td>
											<td><div class="cell">룸 수입 - 개인 - 정상</div></td>
											<td><div class="cell">방</div></td>
											<td><div class="cell">KSG1902075516</div></td>
											<td><div class="cell">1706sus</div></td>
											<td><div class="cell">박서연</div></td>
											<td><div class="cell">아고 다</div></td>
											<td class="ta-right"><div class="cell">100,000</div></td>
											<td class="ta-right"><div class="cell">65,243</div></td>
											<td class="ta-right"><div class="cell">6,524</div></td>
											<td class="ta-right"><div class="cell">1</div></td>
											<td class="ta-right"><div class="cell">71,767</div></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="grid-area grid-total">
								<table class="grid-tbl">
									<colgroup>
										<col style="width:100px">
										<col style="width:120px">
										<col style="width:215px">
										<col style="width:215px">
										<col style="width:120px">
										<col style="width:70px">
										<col style="width:240px">
										<col style="width:180px">
										<col style="width:120px">
										<col style="width:120px">
										<col style="width:120px">
										<col style="width:60px">
										<col style="width:*">
									</colgroup>
									<tbody class="rowgroup">
										<tr>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td><div class="cell"></div></td>
											<td class="ta-right fw-b"><div class="cell">3,661,000</div></td>
											<td class="ta-right fw-b"><div class="cell">1,729,626</div></td>
											<td class="ta-right fw-b"><div class="cell">172,859</div></td>
											<td class="ta-right fw-b"><div class="cell">40</div></td>
											<td class="ta-right fw-b last"><div class="cell inBl">1,901,485</div><span class="square"></span></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- //.grid-wrap -->
					<div class="cf grid-bottom">
						<a href="#" class="prev st">&lt;&lt;</a>
						<a href="#" class="prev">&lt;</a>
						<span class="num">0</span>
						<a href="#" class="next">&gt;</a>
						<a href="#" class="next st">&gt;&gt;</a>
						<span class="count">1 - 100 of 158 items</span>
					</div>
					<!-- //.grid-bottom-->
				</div>
				<!-- /.dailyBill -->
			</div>
			<!-- //.item-list -->

			<div class="cont-closed" style="display: none">
				<h3>휴무일</h3>
				<div class="grid-wrap">
					<div class="grid-contents">
						<table class="grid-tbl">
							<colgroup>
								<col class="nth-1" style="width: 150px">
								<col class="nth-2" style="width: *">
							</colgroup>
							<tbody>
								<tr>
									<th><div class="cell">마감일</div></th>
									<td><div class="cell">2019-01-25</div></td>
								</tr>
								<tr>
									<th><div class="cell">상태</div></th>
									<td><div class="cell"></div></td>
								</tr>
								<tr>
									<th><div class="cell">생성</div></th>
									<td><div class="cell"></div></td>
								</tr>
								<tr>
									<th><div class="cell">수정</div></th>
									<td><div class="cell"></div></td>
								</tr>
								<tr>
									<th><div class="cell">이전 휴관일</div></th>
									<td><div class="cell">2019-01-24</div></td>
								</tr>
								<tr>
									<th><div class="cell">비고</div></th>
									<td>
										<div class="cell">
											<textarea name="" id="" cols="30" rows="10" class="texta-etc"></textarea>
										</div>
									</td>
								</tr>
								<!--{tr(th>div.cell^+td>div.cell)}-->
							</tbody>
						</table>
					</div>
				</div>
				<!-- /.grid-wrap -->
				<div class="row-btn">
					<button type="button" class="btn-blue">CLOSING</button>
				</div>
			</div>
			<!-- /.cont-closed -->

			<script>
				$(function() {
					$(".tab-list > .tab").on("click", function() {
						$(".cont-closed").hide();
					});
				});
			</script>
		</div>
	</div>
	<!-- //.contents -->

</div>

</body>
</html>
