@charset "utf-8";

// common
@import "../parts/common";

.contents {
	min-width: 1695px;
}
$common-pd: 0 20px;

%grid-wrap-style1 {
	font-size: 13px;
}
%btn-style-2 {
	@extend %btn-default;
	background: $bg-blue-2;
//	background: $bg-brown-primary;
//	border-color: $bg-brown-primary;
    color: #fff;
}
%btn-style-3 {
	@extend %btn-default;
	background: $bg-brown-4;
    color: #fff;
}
%btn-style-4 {
	@extend %btn-default;
	background: $bg-orange-1;
    color: #fff;
}
%inp-default, %slt-default {
	@extend %inp-txt-base;
	height: 30px;
	font-size: 13px;
	&.num {
		padding-bottom: 3px;
	}
}
%inp-default {
	width: 80px;
}
%slt-default {
	padding-bottom: 5px;
}
%dot-at {
	display: inline-block;
	height: 1px;
	line-height: 0;
	margin: 0 2px;
}

.page-title {
	@extend %page-title;
}
/* 호텔정보 */
.cont-info {
	padding: $common-pd;
	padding-top: 20px;
	h2 {
		margin-top: 30px;
		font-size: 18px;
		font-weight: 500;
		letter-spacing: -0.5px;
		&:first-child {margin-top: 0;}
		> span {
			font-family: $font-ntss;
		}
		.right {
			float: right;
			.add-txt {
				font-size: 13px;
				font-weight: 700;
			}
			button + button {
				
			}
		}
	}
	.grid-wrap {
		@extend %grid-wrap-style1;
		.grid-tbl {
			tr {
				&[class*="row-"] {
					color: $fg-red-2;
				}
				th, td {
					font-family: $font-ntss;
					height: 43px;
				}
				th {
//					font-weight: 700;
				}
				td {
					color: #555;
					* {
						vertical-align: middle;
					}
				}
				.alert {
					font-size: 12px;
					display: inline-block;
					line-height: 20px;
					padding: 1px 6px;
					border-radius: 4px;
					color: #fff;
					&.alert-ok {
						background: $state-ok;
					}
					&.alert-cancle {
						background: $state-cancle;
					}
					&.alert-unident {
						background: $state-unident;
					}
					&.alert-wait {
						background: $state-wait;
					}
					&.alert-unused {
						background: $state-unused;
					}
					&.alert-ing {
						background: $state-ing;
					}
				}
				.dot, .at {
					
				}
				.inp-default {
					&.domain, &.amenities, &.addr-, &.evt {
						text-align: left;
					}
					&.manager-name {
						margin-left: 15px;
					}
					&.phone-number + .chk-box {
						margin-left: 15px;
					}
					&.email-n {
						width: 150px;
					}
					&.email-a {
						width: 200px;
					}
					&.domain {
						width: 200px;
					}
					&.chk-time {
						width: 100px;
					}
					&.addr-1 {
						width: 270px;
						cursor: pointer;
					}
					&.addr-2 {
						width: 388px;
					}
					&.amenities {
						width: 50%;
					}
					&.evt {
						width: 100%;
					}
				}
				.btn-default {
					&.btn-addr {
						
					}
				}
				.texta {
					&.greet {
						height: 62px;
					}
					&.common {
						height: 162px;
					}
				}
			}
		}
	}//.grid-warp
	.row-btn {
		margin-top: 30px;
		text-align: center;
		.btn-modify {
			$pd: 50px;
			padding-left: $pd;
			padding-right: $pd;
		}
	}
	$fg-inp: #555;
	.inp-default {
		@extend %inp-default;
		text-align: center;
		color: $fg-inp;
	}
	.dot, .at {
		@extend %dot-at;
	}
	.chk-box, .rdo-box {
		font-size: 13px;
		margin-left: 8px;
		line-height: 0;
//		color: $fg-inp;
		input[type=checkbox], input[type=radio] {
			position: relative;
			margin-right: 2px;
			vertical-align: middle;
		}
		&:first-child {
			margin-left: 0;
		}
		label {
			top: -1px;
		}
	} 
	.btn-default {
		@extend %btn-default;
	}
	.btn-style-2 {
		@extend %btn-style-2;
	}
	.texta {
		@extend %texta-base;
		width: 100%;
//		box-shadow: none;
		resize: vertical;
		color: $fg-inp;
	}
	hr.sun {
		margin: 0;
		border: 0;
		margin-top: 5px;
		height: 2px;
		background: $grid-bor-division;
	}
	.fg-red-2 {
		color: $fg-red-2;
	}
}

/* 갤러리 */
.cont-info.cont-info-gallery {
	padding-bottom: 50px;
	.gallery-wrap {
		h3 {
			margin-top: 25px;
			font-size: 15px;
			font-weight: 700;
		}
		.gallery-contents {
			margin-top: -5px;
			.thumbnail-box {
				position: relative;
				float: left;
				margin-right: 20px;
				margin-top: 20px;
				width: 280px;
				[class*=row-] {
					position: relative;
					width: 100%;
					border: 1px solid #ddd;
					box-sizing: border-box;
					margin-top: -1px;
				}
				%bor-none {
					border: none;
					border-radius: 0;
					box-shadow: none;
				}
				$r: 5px;
				%bor-top-r {
					border-top-left-radius: $r;
					border-top-right-radius: $r;
				}
				%bor-bottom-r {
					border-bottom-left-radius: $r;
					border-bottom-right-radius: $r;
				}
				.row-tit {
					margin-top: 0;
					@extend %bor-top-r;
					.inp-name {
						width: 100%;
						@extend %bor-top-r;
						@extend %bor-none;
					}
				}
				.row-img {
					.btn-del {
						position: absolute;
						top: 0; 
						right: 0;
						border-radius: 0;
						border-top: 0;
						border-right: 0;
					}
				}
				.row-file {
					padding: 2px;
					padding-left: 3px;
					.inp-file {
						position: relative;
	//					left: -1px;
					}
				}
				.row-texta {
					@extend %bor-bottom-r;
					.texta-info {
						text-align: left;
						height: 62px;
						resize: vertical;
						@extend %bor-bottom-r;
						@extend %bor-none;
//						&::-webkit-input-placeholder {
//							color: #000;
//						}
//						&:-ms-input-placeholder {
//							color: #000;
//						}
					}
				}
			}//.thumbnail-box
		}//.gallery-contents
		.row-btn {
			width: 1480px;
			padding-bottom: 10px;
		}
	}
}